<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>签到记录</title>
    <link rel="stylesheet" type="text/css" href="./aui.css" />
    <link rel="stylesheet" href="./footer.css?shareshopversion=1.1.1.191103" type="text/css">
    <style>
    .aui-list-item{
        flex-direction: column;
        padding: 15px!important;
        border-bottom: 1px solid #ddd!important;
    }

    .aui-list {
        height: 100vh;
    overflow: scroll;
    box-sizing: border-box;
    padding: 44px 0 50px 0;
    }
    </style>
</head>
<body>
        <div class="aui-content">

                <header class="aui-bar aui-bar-nav" style="position: fixed;">
                        <a href="javascript:history.back()" class="aui-pull-left aui-btn">
                            <span class="aui-iconfont aui-icon-left"></span>
                        </a>
                        <div class="aui-title">签到记录</div>
                    </header>
                <ul class="aui-list aui-list-in">
                   
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div>日常签到 +10利享币</div>
                           
                        </div>
                        <div>
                                <span class="aui-btn aui-btn-success">日常签到</span>
                                <span class="aui-pull-right">2019 11 10 23：11</span>
                            </div>
                    </li>
                  
                </ul>
            </div>
            <footer class="aui-footer aui-footer-fixed">
                    <a href="${base}/wechat/index" class="aui-tabBar-item aui-tabBar-item-active">
                            <span class="aui-tabBar-item-icon">
                                <i class="icon icon-loan"></i>
                            </span>
                        <span class="aui-tabBar-item-text">首页</span>
                    </a>
                    <a href="${base}/shop/index" class="aui-tabBar-item ">
                            <span class="aui-tabBar-item-icon">
                                <i class="icon icon-credit"></i>
                            </span>
                        <span class="aui-tabBar-item-text">店铺</span>
                    </a>
            
            
            
                    <a href="${base}/cartshow/list" class="aui-tabBar-item ">
                            <span class="aui-tabBar-item-icon">
                                <i class="icon icon-car"></i><i class="shop-badge">22</i>
                            </span>
                        <span class="aui-tabBar-item-text">购物车</span>
                    </a>
                    <a href="${base}/center/user" class="aui-tabBar-item ">
                            <span class="aui-tabBar-item-icon">
                                <i class="icon icon-mine"></i>
                            </span>
                        <span class="aui-tabBar-item-text">我的</span>
                    </a>
                </footer>
</body>
</html>