<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/chaoshi.css">
    <link rel="stylesheet" href="../css/chaoshixiangqing.css">
    <link rel="stylesheet" href="../css/sousuo.css">
    <link rel="stylesheet" href="../css/animate.min.css">
</head>

<body>
    <div id="app">
        <div class="cs-bg"
            style="background-image: url(http://img0.imgtn.bdimg.com/it/u=1099603176,1913748234&fm=26&gp=0.jpg);"></div>
        <header class="chaoshi-header search">
            <div class="back">
                <a @click="$router.go(-1)"> <i class="iconfont icon-icon-arrow-left4"></i></a>
            </div>
            <div class="content" @click="toSearch">
                <i class="iconfont icon-secondsearch_accurate"></i>
                <div>搜索店内商品</div>
            </div>
            <div class="cart">
                <a href=""><i class="iconfont icon-gouwuche1"></i></a>
            </div>
        </header>
        <div class="h-50"></div>
        <div v-cloak class="layout" @scroll.passive>
            <div class="cs-header">
                <div class="cs-logo">
                    <img :src="shop.logo" alt="">
                    <div>评分{{shop.score.toFixed(1)}}+</div>
                </div>
                <div class="cs-title">
                    {{shop.name}}
                </div>
                <div class="cs-fuwu">
                    <div v-for="(v,i) in shop.fuWu" :key="i">{{v.value}}</div>
                </div>
                <div class="gonggao">
                    {{shop.gongGao}}
                </div>
                <div class="cs-labels">
                    <div class="zb">
                        <div v-for="(v,i) in shop.labels" :key="i">{{v.value}}</div>
                    </div>

                    <!-- <div class="yb"><i class="iconfont icon-jiantouxia"></i></div> -->
                </div>
            </div>
            <div id="anchor-menu-list" class="menu-list">
                <ul class="menu">
                    <li v-anchor="'menu-list'" v-for='(item,idx) in menu' class="item"
                        :class="{'active':idx==active_menu_idx}" @click="handleMenu(idx)">
                        <span>{{item.name}}</span>
                    </li>
                </ul>
                <div class="list-nav" @scroll.passive>
                    <ul class="nav">
                        <li v-for="(v,i) in list_nav" class="item" :class="{active:active_list_nav_idx==i}" :key="v.id"
                            @click="handleListNav(i)">
                            <span>{{v.name}}</span>
                        </li>
                    </ul>
                    <div class="activity-list">
                        <div v-for="v in activities" class="activity">
                            <span>{{v.name}}</span>
                        </div>
                        <ul class="list">
                            <li v-for="(v,idx) in activity_goods" class="item-wrapper" :key="v.id">
                                <div class="item">
                                    <div class="img-wrapper" @click="toDetail(v.id)">
                                        <div class="xianliang" v-if="v.discount">
                                            超级免单
                                            <!-- {{v.discount.value}}折
                                            限{{v.discount.num}}份 -->
                                        </div>
                                        <img :src="v.img" alt="">
                                    </div>
                                    <div class="name-discount">
                                        <div class="name two-line">{{v.name+'/'+v.unit}}</div>
                                        <div class="sold-discount">
                                            <div class="sold">
                                                月售{{v.sold}}
                                            </div>
                                            <div class="discount">优惠仅剩{{v.residue}}件</div>
                                        </div>
                                    </div>

                                    <div class="add">
                                        <div class="p-u-o">
                                            <div class="price">
                                                ￥<span>{{v.price|price}}&nbsp;</span>
                                            </div>
                                            <div class="unit">

                                            </div>
                                            <div class="originPrice">
                                                ￥{{v.originPrice|price}}
                                            </div>
                                        </div>
                                        <i @click="shareStore.addAction(v,$event)" class="iconfont icon-tianjia"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="filter-list">
                        <li class="item" :class="{'active':filter_idx==0}" @click="handleFilter(0)">
                            <div>力度</div>
                        </li>
                        <li class="item" :class="{'active':filter_idx==1}" @click="handleFilter(1)">
                            <div>销量</div>
                        </li>
                        <li class="item" :class="{'active':filter_idx==2}" @click="handleFilter(2)">
                            <div>价格<i class="iconfont icon-paixu"></i></div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li v-for="(v,idx) in goods" class="item-wrapper" :key="v.id">
                            <div class="item">
                                <div class="img-wrapper" @click="toDetail(v.id)">

                                    <img :src="v.img" alt="">
                                </div>
                                <div class="name-discount">
                                    <div class="name two-line">{{v.name}}</div>
                                    <div class="sold-discount">
                                        <div class="sold">
                                            月售{{v.sold}}
                                        </div>

                                    </div>
                                </div>

                                <div class="add">
                                    <div class="p-u-o">
                                        <div class="price">
                                            ￥<span>{{v.price|price}}</span>
                                        </div>
                                        <div class="unit">
                                            /{{v.unit}}
                                        </div>
                                        <div class="originPrice">
                                            ￥{{v.originPrice|price}}
                                        </div>
                                    </div>

                                    <i @click="shareStore.addAction(v,$event)" class="iconfont icon-tianjia"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cs-cart" :class="{'show':cart.show,'no-qcd':!hasTip}">
                <div class="qcd" v-if="totalOriginPrice-totalPrice>0">
                    已省￥{{totalOriginPrice-totalPrice|price}}
                </div>
                <!-- <div class="qcd" v-if="is_difference_tips">
                    还差
                    <span>{{cart.difference}}</span>
                    元就能起送
                    <span>[去凑单]</span>
                </div> -->
                <div class="cart-wrapper">
                    <div class="cart-title">
                        <div class="zb">
                            购物车
                            <span>(共{{cartLength}}件商品,总重量约{{cart.weight}}kg)</span>
                        </div>
                        <div class="yb" @click="shareStore.clearAction()">
                            <i class="iconfont icon-shanchu"></i>
                            清空购物车
                        </div>
                    </div>
                    <ul class="cart-list">
                        <li v-for="(v,i) in cart_goods" :key="v.id">
                            <div class="item">
                                <div class="img-wrapper" @click="toDetail(v.id)">
                                    <img :src="v.img" alt="">
                                </div>
                                <div class="mz-dz-jg">
                                    <div class="mz">{{v.name}}</div>
                                    <div class="zb-yb">
                                        <div class="zb">
                                            <div class="xianliang-wrapper">
                                                <div class="xianliang" v-if="v.discount">
                                                    {{v.discount}}
                                                    <!-- {{v.discount.value}}折,限{{v.discount.num}}份 -->
                                                </div>
                                            </div>

                                            <div>
                                                <a class="price">￥
                                                    <span>{{v.price|price}}</span>
                                                </a>
                                                <a class="originPrice">
                                                    <span>￥{{v.originPrice|price}}</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="yb">
                                            <div class="reduce" @click="shareStore.reduceAction(v)"><i
                                                    class="iconfont icon-jian"></i></div>
                                            <div class="num">{{v.count}}</div>
                                            <div class="add" @click="shareStore.addAction(v,$event)"><i
                                                    class="iconfont icon-tianjia"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="pay-bottom">
                <a :href="'tel:'+shop.phone" class="lxsj">
                    <i class="iconfont icon-lianxi"></i>
                    <div>联系商家</div>
                </a>
                <div class="psf-zj" @click="handleCart">
                    <img src="http://manage.yihuoshidai.com/files/006c4539-0fe1-42ac-aadb-c2019738cbdf.png" alt="">
                    <div class="zj-wrapper">
                        <div class="zj" v-if="totalPrice">
                            <div class="yg">
                                ￥
                                <span> {{totalPrice|price}}</span>
                            </div>
                            <div class="yj">
                                ￥{{totalOriginPrice|price}}
                            </div>
                        </div>
                        <div class="psf">另需配送费￥{{totalFee}} <span>￥{{totalOriginFee}}</span></div>
                    </div>

                </div>
                <div v-if="shop.initialDeliveryprice-totalPrice>0" class="qs" @click="handleCart">
                    差￥{{shop.initialDeliveryprice-totalPrice|price}}起送
                </div>
                <div v-else class="qs buy">
                    去结算
                </div>
            </div>


        </div>
        <!-- 使用动态的 transition name -->
        <!-- <transition :name="routeTransition"> -->
        <transition enter-active-class="animated slideInRight" leave-active-class="animated slideOutLeft">
            <router-view :key="$route.fullPath"></router-view>
        </transition>

    </div>
    <template id="sousuo">
        <div class="routeWrapper">
            <header class="sousuo-header">
                <a class="back" @click="$router.go(-1)"><i class="iconfont icon-icon-arrow-left4"></i></a>
                <div class="content"><i class="iconfont icon-secondsearch_accurate"></i>
                    <input type="text" v-model.trim="search_text" placeholder="搜索店内商品">
                    <i v-show="search_text" class="iconfont icon-guanbi" @click="clearSearchText"></i>
                </div>
                <div class="btn" :class="{'active':search_text}" @click="search">搜索</div>
            </header>
            <section v-show="!isSearched" class="sousuo-container">
                <!-- 搜索历史 -->
                <div v-if="history.length>0" class="sousuo-title">
                    搜索历史
                    <i @click="clearSearchHistory" class="iconfont icon-shanchu"></i>
                </div>
                <ul class="sousuo-list">
                    <li v-for="v of history" class="item">
                        <div>{{v}}</div>
                    </li>
                </ul>
                <div v-if="true" class="sousuo-title">
                    热门搜索
                </div>
                <ul class="sousuo-list">
                    <li v-for="v of history" class="item">
                        <div>精品水果酸奶</div>
                    </li>
                    <li  class="item">
                        <div>精品水果酸奶</div>
                    </li>
                </ul>
            </section>
            <section v-show="isSearched">
                <div class="sousuo-sort">
                    <div class="zb" :class="{'active':search_sort==1}" @click="search_sort=1;">
                        综合排序
                    </div>
                    <div class="yb">
                        <div :class="{'active':search_sort==2}" @click="search_sort=2;">销量优先</div>
                        <div :class="{'active':search_sort==3}" @click="search_sort=3;">优惠优先</div>
                        <div :class="{'active':search_sort==4}" @click="search_sort=4;">价格<i
                                class="iconfont icon-paixu"></i></div>
                    </div>
                </div>
                <div>
                    <ul class="sousuo-goods">
                        <li v-for="(v,idx) in goods" class="item-wrapper" :key="v.id">
                            <div class="item">
                                <div class="img-wrapper" @click="toDetail(v.id)">
                                    <div class="xianliang" v-if="v.discount">
                                        超级免单

                                    </div>
                                    <img :src="v.img" alt="">
                                </div>
                                <div class="name-discount">
                                    <div class="name two-line">{{v.name+'/'+v.unit}}</div>
                                    <div class="sold-discount">
                                        <div class="sold">
                                            月售{{v.sold}}
                                        </div>
                                        <div class="discount">优惠仅剩{{v.residue}}件</div>
                                    </div>
                                </div>

                                <div class="add">
                                    <div class="p-u-o">
                                        <div class="price">
                                            ￥<span>{{v.price|price}}&nbsp;</span>
                                        </div>
                                        <div class="unit">

                                        </div>
                                        <div class="originPrice">
                                            ￥{{v.originPrice|price}}
                                        </div>
                                    </div>
                                    <i @click="shareStore.addAction(v,$event)" class="iconfont icon-tianjia"></i>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </section>

        </div>
    </template>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="../js/parabola.js"></script>

    <script>
        var action = {
            async getShopInfo() {
                return await axios.get('/shopmoney/shoplist?sid=31')
            },
            getSearchHistory(){
                var history=localStorage.getItem("shareshop_chaoshi_history")
                if(history){
                    history= JSON.parse(history)
                    }else{
                        history=[]
                    }
                 return history
                    
            },
            addSearchHistory(text){
                var history=localStorage.getItem("shareshop_chaoshi_history")
                if(history){
                    history= JSON.parse(history)
                    history.push(text)
                    history=JSON.stringify(history)
                }else{
                    history=JSON.stringify([text])
                }
                localStorage.setItem("shareshop_chaoshi_history",history)
            },
            clearSearchHistory(){
                localStorage.removeItem("shareshop_chaoshi_history")
            }
        }
        var throwBall = function (ev) {
            var ps = $(".psf-zj img")
            var psf = ps.offset()
            var psfL = psf.left
            var psfT = psf.top
            var tof = $(ev.target).offset()

            var div = document.createElement("div")
            div.className = "ball"
            // Parabola
            $(div).css({
                top: tof.top,
                left: tof.left
            })
            $("body").append(div)
            var offsetY = psfT - tof.top + ps.height() / 2
            var pb = new Parabola({
                curvature: 0.015,
                duration: offsetY * 1.5,
                el: div,
                offset: [psfL - tof.left + ps.width() / 2, offsetY],
                callback: function () {
                    $(div).remove()
                }
            })
            pb.start()
        }
        var ShopAlert = function (msg) {
            var msg = $("<div class='shop-msg'>" + msg + "</div>").appendTo("body")
            setTimeout(() => {
                msg.remove()
            }, 2000);
        }
        var store = {
            debug: true,
            cartLength: 0,
            cart: {
                show: false,
                // 总重
                weight: 0.2,
                // 还差多少凑单
                // difference: 5,
            }, cart_goods: [
                //     {
                //     id: 1,
                //     name: "五角辣条",
                //     sold: 162,
                //     price: 0.09,
                //     unit: "袋",
                //     originPrice: 2.20,
                //     img: "http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&fm=26&gp=0.jpg",
                //     count: 1
                //     // discount:{
                //     //     value:1.5,
                //     //     num:1,
                //     //     residue:5
                //     // }
                // }
            ],
            reduceAction(v) {
                if (this.debug) console.log('reduceAction triggered with')

                var i = 0
                for (g of this.cart_goods) {
                    i++
                    if (g && g.id == v.id) {
                        g.count--

                        if (g.count == 0) {
                            console.log(g.count);

                            Vue.delete(this.cart_goods, i - 1)
                            if (this.cart_goods.length == 0) {
                                this.cart.show = false
                            }

                            return
                        } else {
                            Vue.set(this.cart_goods, i - 1, g)
                            break
                        }

                    }

                }

            },
            clearAction() {
                this.cart_goods.length = 0
                this.cart_goods.reverse()
                this.cart.show = false
                this.cart.weight = 0.2
            },
            addAction(v, ev) {
                if (this.debug) console.log('addAction triggered')



                var i = 0
                for (g of this.cart_goods) {
                    i++
                    if (g && g.id == v.id) {
                        if (g.count < v.residue) {
                            g.count++
                            Vue.set(this.cart_goods, i - 1, g)
                            throwBall(ev)
                        } else {
                            ShopAlert("商品已达库存上限")
                        }

                        return
                    }
                }
                throwBall(ev)
                v.count = 1
                this.cart_goods.push(v)


            }
        }

        const Detail = {
            methods: {
                toDetail: function (id) {

                    this.$router.push('detail').catch(err => {
                        console.log('输出报错', err)
                    })
                    // this.$router.push({ path: 'detail', query: { id: 2 } })
                },
            },
            computed: {
                shareGoodCount: function () {
                    // for(var g in this.shareStore.cart_goods){
                    //     if(g.id==this.good.id){
                    //         return g.count
                    //     }
                    // }
                    return 0
                }
            },
            data: function () {
                return {
                    good: {
                        residue: 53,
                        id: 1,
                        name: "五角辣条",
                        sold: 162,
                        price: 9,
                        unit: "袋",
                        originPrice: 2.20,
                        img: "http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&fm=26&gp=0.jpg",
                        discount: "超级免单"
                    },
                    shareStore: store,
                    evaluateRate: "100%",
                    // activities: [
                    //     "超级免单",
                    //     "超级免单",
                    // ],
                    peisong: "满28免费配送",
                    service: ["免费配送", "支持自取"],
                    goods: [{

                        residue: 53,
                        id: 1,
                        name: "五角辣条",
                        sold: 162,
                        price: 9,
                        unit: "袋",
                        originPrice: 2.20,
                        img: "http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&fm=26&gp=0.jpg",
                        discount: "超级免单"

                    }],
                    detail: [
                        {
                            name: "单位",
                            value: "克"
                        }, {
                            name: "单位",
                            value: "克"
                        },
                    ],
                    evaluate: [
                        {
                            img: "https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1107263072,1224997471&fm=26&gp=0.jpg",
                            nickName: "紫色风铃",
                            time: "2019.11.07",
                            content: `“新闻哥”的整个致歉说明，最坑爹的一句话就是“该文不代表腾讯在《庆余年》视频会员事件中的态度”。

难道，“新闻哥”是不想连累腾讯视频，但是这么说，恰恰是“哪壶不开提哪壶”，有殃及池鱼的味道。

在当下这种情形，大可不必、也不应该再提及《庆余年》事件，让受众的怒火再次被点燃。可以适当转移下公众的注意力。

`, pictures: [
                                "https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3939836005,2581076466&fm=26&gp=0.jpg",
                                "https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3939836005,2581076466&fm=26&gp=0.jpg",
                            ]
                        }
                    ]
                }

            },
            template: `<div class="routeWrapper">

<div class="csxq-img">
    <img :src="good.img" alt="">
</div>
<section class="csxq-top">
    <div class="cxxq-title">
        {{good.name}}
    </div>
    <div class="cxxq-sold">月售{{good.sold}}</div>
    <div class="cxxq-jg-jr">
        <div class="cxxq-p-u-o">
            <div class="price">
                ￥<span>{{good.price|price}}&nbsp;</span>
            </div>
            <div class="unit">

            </div>
            <div class="originPrice">
                ￥{{good.originPrice|price}}
            </div>
           
        </div>
        <div v-if="shareGoodCount>0" class="yb">  
              <div class="reduce" @click="shareStore.reduceAction(good)"><i  class="iconfont icon-jian"></i></div>
                 <div class="num">1</div>
                <div class="add" @click="shareStore.addAction(good)"><i class="iconfont icon-tianjia"></i>
                </div>
            </div>
        <div v-else @click="shareStore.addAction(good,$event)"  class="jr">
            加入购物车
        </div>
      
    </div>
    <div class="csxq-hd">
        <div class="mz">活动</div>
        <div class="nr">
            <div v-if="good.discount" >{{good.discount}}</div>
        </div>
    </div>
    <div class="csxq-hd">
        <div class="mz">配送</div>
        <div class="ps">
                {{peisong}}
        </div>
    </div>
    <div class="csxq-hd">
        <div class="mz">服务</div>
        <div class="fw">
            <div v-for="(v,idx) in service" :key="idx">
               <i class="iconfont icon-duihao1"></i> {{v}}
            </div>
          
        </div>
    </div>
</section>
<section class="csxq-pj" v-if="evaluate.length>0">
    <div class="title">评价<span>(好评率{{evaluateRate}})</span></div>
    <ul class="pj-list">
        <li v-for="(v,idx) in evaluate" :key="idx" class="pj-item">
            <div class="tx">
                <img :src="v.img" alt="">
              <div>
                <div class="nc-sj">
                    <div class="nc">
                        {{v.nickName}}
                    </div>
                    <div class="sj">{{v.time}}</div>
                </div>
                <div class="plnr">
                    <div class="pj">
                        {{v.content}}
                    </div>
                    <div class="tp">
                        <img v-for="(v,idx) in v.pictures" :key="idx" src="v" alt="">
                    </div>
                </div>
              </div>
               
            </div>
           
        </li>
    </ul>
</section>
<section class="spxq">
   <div class="title"> 商品详情</div>
   <ul class="list">
       <li v-for="(v,idx) in detail" :key="idx" class="item">
           <div class="name">{{v.name}}</div>
           <div class="text">{{v.value}}</div>
       </li>
   </ul>
</section>
<section class="tdtj">
    <div class="title">同店推荐</div>
    <ul v-for="(v,idx) in goods" :key="v.id" class="csxq-goods">
        <li class="item-wrapper"><div class="item"><div class="img-wrapper" @click="toDetail(v.id)"><img :src="v.img" alt=""></div>
            <div class="name-discount">
                <div class="name two-line">{{v.name}}</div> <div class="sold-discount"><div class="sold">
            月售{{v.sold}}
        </div></div> 
            </div>
        
        <div class="add"><div class="p-u-o"><div class="price">
                ￥<span>{{v.price|price}}</span></div> <div class="unit">
                /{{v.unit}}
            </div> <div class="originPrice">
                ￥{{v.originPrice|price}}
            </div></div> <i @click="shareStore.addAction(good,$event)" class="iconfont icon-tianjia"></i></div></div></li>
    </ul>
</section>
</div>` }
        const Sousuo = {
            created:function(){
                    this.history=action.getSearchHistory()
                },
            data: function () {
               
                return {
                    history:[],
                    isSearched:false,
                    search_sort: 1,
                    shareStore: store,
                    search_text: "",
                    goods: [{
                        residue: 53,
                        id: 1,
                        name: "五角辣条",
                        sold: 162,
                        price: 9,
                        unit: "袋",
                        originPrice: 2.20,
                        img: "http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&fm=26&gp=0.jpg",
                        discount: "超级免单"

                    }],
                }
            },
            template: "#sousuo",
            methods: {
                search:function(){
                   
                    if(this.search_text){
                        this.isSearched=true
                        this.history.push(this.search_text)
                    action.addSearchHistory(this.search_text)
                    }
                },
                clearSearchText: function () {
                    this.search_text = ""
                    this.isSearched=false
                },
                clearSearchHistory:function(){
                    this.history=[]
                    action.clearSearchHistory()
                },
                toDetail: function (id) {

                    this.$router.push('detail').catch(err => {
                        console.log('输出报错', err)
                    })
                    // this.$router.push({ path: 'detail', query: { id: 2 } })
                },
            }
        }
        const routes = [
            { path: '/detail', component: Detail },
            { path: '/search', component: Sousuo },
        ]

        const router = new VueRouter({
            routes
        })
        Vue.directive('anchor', {
            inserted: function (el, binding, vnode, oldVnode) {


                el.onclick = function () {

                    $('#anchor-' + binding.value)[0].scrollIntoView()
                }
            }
        })
        // 注册
        Vue.filter('price', function (value) {
            // 返回处理后的值
            return value.toFixed(2)
        })
        var app = new Vue({
            router,
            el: '#app',
            // components: {
            //     // 左侧菜单
            //     'sp-chaoshi-menu': spChaoshiMenu,

            // },
            data: {
                shareStore: store,
                active_menu_idx: 0,
                routeTransition: "",
                menu: [
                    {
                        name: "糖果巧克力",
                        id: 1
                    },
                    {
                        name: "槟榔",
                        id: 2
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水",
                        id: 3
                    },
                    {
                        name: "矿泉水222",
                        id: 3
                    }
                ]
                ,
                goods: [{
                    residue: 53,
                    id: 1,
                    name: "五角辣条",
                    sold: 162,
                    price: 9,
                    unit: "袋",
                    originPrice: 2.20,
                    img: "http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&fm=26&gp=0.jpg",
                    discount: "超级免单"
                }],
                filter_idx: 0,
                active_list_nav_idx: 0,
                activity_goods: [{
                    residue: 5,
                    id: 2,
                    name: "6角辣条",
                    sold: 162,
                    price: 0.09,
                    unit: "袋",
                    originPrice: 2.20,
                    img: "http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&fm=26&gp=0.jpg",
                    discount: "超级免单"
                }],
                list_nav: [
                    {
                        name: "爆品",
                        id: 1
                    }, {
                        name: "折扣",
                        id: 2
                    }, {
                        name: "三只松鼠",
                        id: 3
                    }
                ],
                activities: [
                    // {
                    //     name: "爆品可与满减优惠同享"
                    // }, {
                    //     name: "爆品可与满减优惠同享2"
                    // }
                ],

                shop: {
                    initialDeliveryprice: 25,
                    name: "24小时零点便利店(八一路店)",
                    logo: "http://img0.imgtn.bdimg.com/it/u=1099603176,1913748234&fm=26&gp=0.jpg",
                    score: 5.0,
                    gongGao: "公告:欢迎光临,很高兴为您服务~",
                    phone: 135464634,
                    fuWu: [{
                        value: "配送30分钟"
                    },
                    {
                        value: "配送30分钟"
                    }],
                    labels: [
                        {
                            value: "减2元配送费"
                        },
                        {
                            value: "减2元配送费"
                        },
                        {
                            value: "减2元配送费"
                        },
                        {
                            value: "减2元配送费"
                        },
                        {
                            value: "减2元配送费"
                        }
                    ]
                },
                // 运费
                totalFee: 5,
                // 运费原价
                totalOriginFee: 20,
                cartLength: store.cartLength,
                cart: store.cart,
                cart_goods: store.cart_goods,
            },
            methods: {
                toSearch: function () {
                    this.$router.push({ path: 'search' })
                },
                toDetail: function (id) {
                    this.$router.push({ path: 'detail', query: { id: id } })
                },
                handleMenu: function (idx) {
                    this.active_menu_idx = idx
                    // 滑动菜单

                    // 更新右侧商品数据
                },


                handleListNav: function (idx) {
                    this.active_list_nav_idx = idx
                    // 更新右侧商品数据
                },
                handleFilter: function (idx) {
                    this.filter_idx = idx
                    // 排序
                },

                // addCart: function (v, ev) {
                //     var ps = $(".psf-zj img")
                //     var psf = ps.offset()
                //     var psfL = psf.left
                //     var psfT = psf.top
                //     var tof = $(ev.target).offset()

                //     var div = document.createElement("div")
                //     div.className = "ball"
                //     // Parabola
                //     $(div).css({
                //         top: tof.top,
                //         left: tof.left
                //     })
                //     $("body").append(div)
                //     var offsetY = psfT - tof.top + ps.height() / 2
                //     var pb = new Parabola({
                //         curvature: 0.015,
                //         duration: offsetY * 1.5,
                //         el: div,
                //         offset: [psfL - tof.left + ps.width() / 2, offsetY],
                //         callback: function () {
                //             $(div).remove()
                //         }
                //     })
                //     pb.start()
                //     var i = 0
                //     for (g of this.cart_goods) {
                //         i++
                //         if (g && g.id == v.id) {
                //             g.count++
                //             Vue.set(this.cart_goods, i - 1, g)
                //             return
                //         }
                //     }
                //     v.count = 1
                //     this.cart_goods.push(v)

                // },
                handleCart: function () {
                    if (this.totalPrice)
                        this.cart.show = !this.cart.show
                },
                // clearCart: function () {
                //     this.cart_goods = []
                //     this.cart.show = false
                // },
                // handleReduce(i) { },
                //  handleAdd(i) {
                //     ++this.cart_goods[i].count
                //     Vue.set(this.cart_goods, i, this.cart_goods[i])
                // }
            },
            watch: {
                //                 '$route' (to, from) {
                //     const toDepth = to.path.split('/').length
                //     const fromDepth = from.path.split('/').length
                //     this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
                //   },
                cart_goods: function (val, oldVal) {
                    this.cartLength = val.length
                },
                // cart: {
                //     handler: function (val, oldVal) {
                //          /* 清空购物车 */
                //         if (val.goods = []) {
                //             this.cart.show = false
                //         }
                //     },

                // },

            },
            computed: {

                hasTip: function () {
                    if (this.cart_goods.length > 0) {
                        return true
                    }
                    return false
                },
                is_discount_tips: function () {
                    if (this.cart_goods.length > 0) {
                        return true
                    }
                    return false
                }
                ,
                // is_difference_tips: function () {
                //     return false
                //     if (this.cart_goods.length > 0) {
                //         return false
                //     }
                // },
                totalPrice: function () {
                    var p = 0
                    this.cart_goods.forEach(element => {
                        p += element.price * element.count
                    });
                    return p
                },
                totalOriginPrice: function () {
                    var p = 0
                    this.cart_goods.forEach(element => {
                        p += element.originPrice * element.count
                    });
                    return p
                }

            }
        })
    </script>
</body>

</html>