<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市详情</title>
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/chaoshixiangqing.css">
</head>
<body>
    <div class="chaoshixiangqing">

        <div class="csxq-img">
            <img src="http://img4.imgtn.bdimg.com/it/u=2938492084,573793194&fm=26&gp=0.jpg" alt="">
        </div>
        <section class="csxq-top">
            <div class="cxxq-title">
                焦香芝麻山楂糖葫芦/个
            </div>
            <div class="cxxq-sold">月售35</div>
            <div class="cxxq-jg-jr">
                <div class="cxxq-p-u-o">
                    <div class="price">
                        ￥<span>9.00&nbsp;</span>
                    </div>
                    <div class="unit">
        
                    </div>
                    <div class="originPrice">
                        ￥20.00
                    </div>
                   
                </div>
                <div class="jr">
                    加入购物车
                </div>
            </div>
            <div class="csxq-hd">
                <div class="mz">活动</div>
                <div class="nr">
                    <div>超级免单</div>
                    <div>超级免单2</div>
                </div>
            </div>
            <div class="csxq-hd">
                <div class="mz">配送</div>
                <div class="ps">
                        满28免费配送
                </div>
            </div>
            <div class="csxq-hd">
                <div class="mz">服务</div>
                <div class="fw">
                    <div>
                       <i class="iconfont icon-duihao1"></i> 免费配送
                    </div>
                    <div>
                        <i class="iconfont icon-duihao1"></i>  支持自取
                    </div>
                </div>
            </div>
        </section>
        <section class="csxq-pj">
            <div class="title">评价<span>(好评率100%)</span></div>
            <ul class="pj-list">
                <li class="pj-item">
                    <div class="tx">
                        <img src="https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1107263072,1224997471&fm=26&gp=0.jpg" alt="">
                      <div>
                        <div class="nc-sj">
                            <div class="nc">
                                紫色风铃
                            </div>
                            <div class="sj">2019.11.07</div>
                        </div>
                        <div class="plnr">
                            <div class="pj">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa aliquam repellat ipsam unde, quas nam numquam eum hic molestiae neque aperiam impedit a dolores officia minima quam asperiores vitae cupiditate.
                            </div>
                            <div class="tp">
                                <img src="https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3939836005,2581076466&fm=26&gp=0.jpg" alt="">
                                <img src="https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3939836005,2581076466&fm=26&gp=0.jpg" alt="">
                            </div>
                        </div>
                      </div>
                       
                    </div>
                   
                </li>
            </ul>
        </section>
        <section class="spxq">
           <div class="title"> 商品详情</div>
           <ul class="list">
               <li class="item">
                   <div class="name">单位</div>
                   <div class="text">克</div>
               </li>
               <li class="item">
                   <div class="name">单位</div>
                   <div class="text">克</div>
               </li>
               
           </ul>
        </section>
        <section class="tdtj">
            <div class="title">同店推荐</div>
            <ul class="csxq-goods">
                <li class="item-wrapper"><div class="item"><div class="img-wrapper"><img src="http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&amp;fm=26&amp;gp=0.jpg" alt=""></div> <div class="name">五角辣条</div> <div class="sold-discount"><div class="sold">
                    月售162
                </div></div> <div class="add"><div class="p-u-o"><div class="price">
                        ￥<span>9.00</span></div> <div class="unit">
                        /袋
                    </div> <div class="originPrice">
                        ￥2.20
                    </div></div> <i class="iconfont icon-tianjia"></i></div></div></li>
            </ul>
        </section>
    </div>
    
</body>
</html>