<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/sousuo.css">
</head>

<body>
    <div>
        <header class="sousuo-header">
            <a class="back" href="history.back()"><i class="iconfont icon-icon-arrow-left4"></i></a>
            <div class="content"><i class="iconfont icon-secondsearch_accurate"></i> <input type="text"
                    placeholder="搜索店内商品">
                <i class="iconfont icon-guanbi"></i>
            </div>
            <div class="btn">搜索</div>
        </header>
        <section class="sousuo-container">
            <!-- 搜索历史 -->
            <div class="sousuo-title">
                搜索历史
                <i class="iconfont icon-shanchu"></i>
            </div>
            <ul class="sousuo-list">
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
            </ul>
            <div class="sousuo-title">
                热门搜索
            </div>
            <ul class="sousuo-list">
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
                <li class="item">
                    <div>精品水果酸奶</div>
                </li>
            </ul>
        </section>
        <!-- <div class="sousuo-sort">
            <div class="zb active">
                综合排序
            </div>
            <div class="yb">
                <div>销量优先</div>
                <div>优惠优先</div>
                <div>价格<i class="iconfont icon-paixu"></i></div>
            </div>
        </div> -->
        <!-- <div>
            <ul class="sousuo-goods">
                <li class="item-wrapper">
                    <div class="item">
                        <div class="img-wrapper">
                            <div class="xianliang">
                                超级免单
                            </div> <img
                                src="http://img0.imgtn.bdimg.com/it/u=1650195230,4072566368&amp;fm=26&amp;gp=0.jpg"
                                alt="">
                        </div>
                        <div class="name-discount">
                        <div class="name two-line">6角辣条6角辣条6角辣条6角辣条6角辣条6角辣条6角辣条6角辣条/袋</div>
                        <div class="sold-discount">
                            <div class="sold">
                                月售162
                            </div>
                            <div class="discount">优惠仅剩5件</div>
                        </div>
                    </div>
                        <div class="add">
                            <div class="p-u-o">
                                <div class="price">
                                    ￥<span>0.09&nbsp;</span></div>
                                <div class="unit"></div>
                                <div class="originPrice">
                                    ￥2.20
                                </div>
                            </div> <i class="iconfont icon-tianjia"></i>
                        </div>
                    </div>
                </li>
              

            </ul>
        </div> -->

    </div>
</body>

</html>