<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商铺入驻</title>
    <link rel="stylesheet" type="text/css" href="../static/css/aui/aui.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/commonStyle.css" />
    <style>
    #footer{
        padding: 5px;
        display: flex;
        justify-content: flex-end;
    }

    </style>
</head>
<body>
    <div class="aui-content">
        <header class="aui-bar aui-bar-nav">
                <a class="aui-pull-left aui-btn">
                    <span class="aui-iconfont aui-icon-left"></span>
                </a>
                <div class="aui-title">商户入驻</div>
            </header>


            <form action="">
            <ul class="aui-list aui-form-list">
                    <li class="aui-list-header" style="font-weight: bold;">商户入驻</li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                手机号
                            </div>
                            <div class="aui-list-item-input">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                姓名
                            </div>
                            <div class="aui-list-item-input">
                                <input type="text" placeholder="请输入姓名">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                地址
                            </div>
                            <div class="aui-list-item-input">
                                <input type="text" placeholder="请输入地址">
                            </div>
                        </div>
                    </li>
                    </ul>

                    <div id="footer"> 
                        <div class="aui-btn aui-btn-block aui-btn-success">提交</div>
                    </div>
                </form>
                  
    </div>
</body>
</html>