<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>审核</title>
    <link rel="stylesheet" type="text/css" href="../static/css/aui/aui.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/commonStyle.css" />
    <style>
        #examineWrapper{
            display: flex;
            flex-direction: column;
        }

  #examineWrapper img{
        width: 100%;
    }
    </style>
</head>
<body>
        <div class="aui-content">
                <header class="aui-bar aui-bar-nav">
                        <a class="aui-pull-left aui-btn">
                            <span class="aui-iconfont aui-icon-left"></span>
                        </a>
                        <div class="aui-title">商铺入驻审核</div>
                    </header>
                    <!-- 正在审核 -->
                    <!-- <div id="examineWrapper">
                        <div>
                            <div class="aui-info aui-margin-t-10 aui-padded-l-10 aui-padded-r-10" style="flex-direction: column;align-items: flex-start;">
                                    <div class="aui-info-item" style="color: #000;font-weight: bold;font-size: 1rem;">
                                            <img src="./checkmark.png" class="aui-img-round" style="width: 2rem;padding-right: 0.5rem;" alt="">
                                       商铺入驻请求已发送</div>
                                    <div class="aui-info-item" style="padding-left: 2rem;">正在审核中请稍后...</div>
                                </div>
                        </div>
                            <img src="./examine.jpg" alt="">
                            <img src="./examineSuccess.jpg" alt="">
                        </div> -->

                    <div id="examineWrapper">
                        <div>
                            <div class="aui-info aui-margin-t-10 aui-padded-l-10 aui-padded-r-10" style="flex-direction: column;align-items: flex-start;">
                                    <div class="aui-info-item" style="color: #000;font-weight: bold;font-size: 1rem;">
                                            <img src="./checkmark.png" class="aui-img-round" style="width: 2rem;padding-right: 0.5rem;" alt="">
                                            恭喜您,审核通过!</div>
                                    <div class="aui-info-item" style="padding-left: 2rem;">赶快去上架商品吧...</div>
                                </div>
                        </div>
                   
                            <img src="./examineSuccess.jpg" alt="">
                        </div>
        </div>



    
</body>
</html>