html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.chaoshixiangqing {
  padding-bottom: 21.33333vw;
}

.tdtj {
  background-color: #fff;
  padding: 2.66667vw;
  margin-bottom: 2.66667vw;
}

.tdtj .title {
  font-size: 4.26667vw;
  font-weight: 500;
  padding: 2.66667vw 0;
}

.spxq {
  background-color: #fff;
  padding: 2.66667vw;
  margin-bottom: 2.66667vw;
}

.spxq .title {
  font-size: 4.26667vw;
  font-weight: 500;
  padding: 2.66667vw 0;
}

.spxq .list {
  font-size: 3.46667vw;
}

.spxq .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.13333vw;
}

.spxq .list .item .name {
  color: #777;
  margin-right: 2.66667vw;
}

.csxq-pj {
  padding: 2.66667vw;
  background-color: #fff;
  margin-bottom: 2.66667vw;
}

.csxq-pj .title {
  font-size: 4.26667vw;
  font-weight: 500;
  padding: 2.66667vw 0;
}

.csxq-pj .title span {
  font-size: 3.73333vw;
  color: #eb8242;
  vertical-align: text-bottom;
}

.csxq-pj .pj-list .pj-item {
  margin-bottom: 2.66667vw;
}

.csxq-pj .pj-list .pj-item .plnr {
  font-size: 3.2vw;
  line-height: 1.5;
  padding-left: 2.66667vw;
}

.csxq-pj .pj-list .pj-item .plnr .pj {
  margin-bottom: 1.33333vw;
}

.csxq-pj .pj-list .pj-item .plnr .tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.csxq-pj .pj-list .pj-item .plnr .tp img {
  width: 13.33333vw;
  height: 13.33333vw;
  margin-right: 1.33333vw;
  margin-bottom: 1.33333vw;
}

.csxq-pj .pj-list .pj-item .tx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13.33333vw 1fr;
      grid-template-columns: 13.33333vw 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.csxq-pj .pj-list .pj-item .tx img {
  max-width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 1.33333vw;
}

.csxq-pj .pj-list .pj-item .tx .nc-sj {
  margin-bottom: 2.66667vw;
  margin-left: 2.66667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.csxq-pj .pj-list .pj-item .tx .nc-sj .nc {
  font-size: 3.46667vw;
}

.csxq-pj .pj-list .pj-item .tx .nc-sj .sj {
  color: #999;
  font-size: 3.2vw;
}

.csxq-top {
  padding: 2.66667vw;
  background-color: #fff;
  margin-bottom: 2.66667vw;
}

.csxq-hd {
  font-size: 3.46667vw;
  display: -ms-grid;
  display: grid;
  padding: 2.66667vw 0;
  -ms-grid-columns: 13.33333vw 1fr;
      grid-template-columns: 13.33333vw 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.csxq-hd .fw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.csxq-hd .fw i {
  color: #51eaea;
  font-size: 3.46667vw;
}

.csxq-hd .fw > div {
  margin-right: 1.33333vw;
}

.csxq-hd .mz {
  color: #777;
}

.csxq-hd .nr > div {
  margin-bottom: 1.33333vw;
}

.cxxq-jg-jr {
  padding: 2.66667vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cxxq-jg-jr .jr {
  font-size: 3.73333vw;
  padding: 2.66667vw;
  color: #fff;
  border-radius: 4vw;
  background-color: #ff971d;
}

.cxxq-jg-jr .yb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cxxq-jg-jr .yb .reduce {
  color: #777;
}

.cxxq-jg-jr .yb .reduce i {
  font-size: 5.33333vw;
}

.cxxq-jg-jr .yb .num {
  margin: 0 2.13333vw;
}

.cxxq-jg-jr .yb .add {
  color: #64e291;
}

.cxxq-jg-jr .yb .add i {
  font-size: 5.33333vw;
}

.cxxq-p-u-o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cxxq-p-u-o .price {
  font-size: 3.2vw;
  color: #da2d2d;
}

.cxxq-p-u-o .price span {
  font-weight: bold;
  font-size: 5.33333vw;
}

.csxq-img {
  width: 100%;
}

.csxq-img img {
  width: 100%;
}

.csxq-goods .item-wrapper {
  width: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.csxq-goods .item-wrapper .item > div {
  margin-bottom: 0.53333vw;
  line-height: 1.5;
}

.csxq-goods .item-wrapper .item .img-wrapper {
  position: relative;
  height: 32vw;
  max-width: 100%;
}

.csxq-goods .item-wrapper .item .img-wrapper img {
  width: 100%;
  height: 100%;
}

.csxq-goods .item-wrapper .item .img-wrapper .xianliang {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  font-size: 3.2vw;
  padding-right: 2.66667vw;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a), color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.csxq-goods .item-wrapper .item .name-discount {
  height: 14.93333vw;
}

.csxq-goods .item-wrapper .item .name {
  line-height: 1.2;
  font-size: 3.46667vw;
  font-weight: 600;
}

.csxq-goods .item-wrapper .item .sold-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.2vw;
}

.csxq-goods .item-wrapper .item .sold-discount .sold {
  color: #777;
  margin-right: 1.33333vw;
}

.csxq-goods .item-wrapper .item .sold-discount .discount {
  color: #ff9d76;
}

.csxq-goods .item-wrapper .item .add {
  position: relative;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.csxq-goods .item-wrapper .item .add .p-u-o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.csxq-goods .item-wrapper .item .add .price {
  font-size: 3.2vw;
}

.csxq-goods .item-wrapper .item .add .price span {
  color: #da2d2d;
  font-weight: bold;
  font-size: 5.33333vw;
}

.csxq-goods .item-wrapper .item .add .unit,
.csxq-goods .item-wrapper .item .add .originPrice {
  font-size: 3.2vw;
  color: #777;
}

.csxq-goods .item-wrapper .item .add .originPrice {
  text-decoration: line-through;
}

.csxq-goods .item-wrapper .item .add i {
  justify-self: flex-end;
  color: #64e291;
  font-size: 5.33333vw;
}

.cxxq-title {
  padding: 2.66667vw 0;
  font-size: 5.33333vw;
  font-weight: 600;
}

.cxxq-sold {
  padding: 2.66667vw 0;
  font-size: 3.2vw;
  color: #777;
}
/*# sourceMappingURL=chaoshixiangqing.css.map */