@charset "UTF-8";
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.pd-header {
  padding: 2.66667vw;
  font-size: 3.2vw;
  color: #212121;
  overflow: hidden;
}

.pd-header > div {
  margin-bottom: 1.33333vw;
}

.pd-header .pdh-2 {
  font-size: 5.33333vw;
  font-weight: bold;
  color: #000;
  line-height: 1.5;
}

.pd-header .pdh-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pd-header .pdh-3 i {
  color: #777;
}

.pd-header .pdh-4 {
  width: 100vw;
  height: 26.66667vw;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 2.66667vw;
  padding-bottom: 2.66667vw;
}

.pd-header .pdh-4::after {
  display: inline-block;
  content: "";
  width: 2.66667vw;
}

.pd-header .pdh-4 img {
  width: 40vw;
  height: 100%;
  margin-right: 1.33333vw;
  border-radius: 2.66667vw;
}

.pd-header .pdh-5 {
  color: #777;
}

.product-detail {
  padding: 2.66667vw;
  font-size: 4.26667vw;
  line-height: 1.5;
}

.product-detail .pd-1 {
  margin-bottom: 2.66667vw;
}

.product-detail .pd-2 li {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.73333vw;
  padding: 1.33333vw;
  margin-bottom: 1.33333vw;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(220, 163, 122, 0.15)), color-stop(90%, rgba(214, 134, 65, 0.16)));
  background-image: linear-gradient(90deg, rgba(220, 163, 122, 0.15) 10%, rgba(214, 134, 65, 0.16) 90%);
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.product-detail .pd-2 li .subtitle {
  color: #777;
  font-size: 3.2vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.product-detail .pd-2 li .price {
  justify-self: flex-end;
  color: #777;
  font-size: 3.2vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.product-detail .pd-3 {
  position: relative;
}

.product-detail .pd-3 > div {
  font-size: 3.73333vw;
  float: right;
}

.product-detail .pd-3 > div .total {
  color: #777;
  text-decoration: line-through;
}

.product-detail .pd-3 > div .price {
  font-size: 5.33333vw;
  font-weight: bold;
  color: #e2782d;
}

.product-detail .pd-4 {
  font-size: 3.73333vw;
  margin-bottom: 2.66667vw;
}

.product-detail .pd-4 img {
  width: 100% !important;
}

.product-detail .pd-4 > div:first-child {
  margin-bottom: 2.66667vw;
}

.product-detail .pd-5 {
  border-top: 1px solid #666;
  padding: 2.66667vw 0;
  text-align: center;
  font-size: 3.73333vw;
  font-weight: bold;
}

.product-detail .pd-6 img {
  width: 100% !important;
}

.sp-pi {
  font-size: 3.73333vw;
  padding: 2.66667vw;
  line-height: 1.5;
}

.sp-pi .pi-h {
  padding-top: 2.66667vw;
  border-top: 1px solid #666;
  color: #777;
}

.sp-pi .pi-title {
  color: #ec9841;
  font-weight: bold;
}

.sp-pi .pi-content {
  background-image: url(../myproject/圆点小.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-origin: padding-box;
  background-clip: padding-box;
  padding-left: 20px;
}

.pd-info {
  display: -ms-grid;
  display: grid;
  padding: 2.66667vw;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: ()[1fr];
      grid-template-rows: repeat(1fr);
  line-height: 1.5;
}

.pd-info .i-1 {
  font-size: 5.33333vw;
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.pd-info .i-2 {
  font-size: 5.33333vw;
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.pd-info .i-3 {
  font-size: 3.2vw;
  color: #777;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.pd-info .i-4 {
  font-size: 5.33333vw;
  color: #e2782d;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.lxbtj-list-wrapper {
  margin-bottom: 18.66667vw;
}

.sp-more-good {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.66667vw;
  width: 100vw;
  overflow: hidden;
}

.sp-more-good .mg-1 {
  margin-bottom: 2.66667vw;
  color: #777;
  font-size: 3.73333vw;
}

.sp-more-good .mg-2 {
  overflow-x: scroll;
  white-space: nowrap;
}

.sp-more-good .mg-2 li {
  margin: 1.33333vw;
  display: inline-block;
}

.sp-more-good .mg-2 li .good {
  width: 40vw;
  height: 58.66667vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vw 1fr 1fr;
      grid-template-rows: 40vw 1fr 1fr;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  font-size: 3.73333vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-more-good .mg-2 li .good img {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.sp-more-good .mg-2 li .good .good-price {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.sp-more-good .mg-2 li .good .good-price span:first-child {
  font-size: 5.33333vw;
  color: #e2782d;
}

.sp-more-good .mg-2 li .good .good-sold {
  color: #777;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.sp-more-good .mg-2 li .good .good-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
  line-height: 1.5;
  white-space: normal;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.pd-footer {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
  padding: 1.33333vw 2.66667vw;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 13.33333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.pd-footer .lf {
  max-width: 50.66667vw;
}

.pd-footer .lf span.s-1 {
  font-size: 5.33333vw;
  color: #e2782d;
}

.pd-footer .lf span.s-2 {
  font-size: 3.73333vw;
  color: #777;
}
/*# sourceMappingURL=shopProject.css.map */