<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>消费领钱</title>

	<link rel="stylesheet" href="../css/screen.css">
	<link rel="stylesheet" type="text/css" href="../static/css/aui/aui.css" />
	<link rel="stylesheet" href="../css/spcommon.css">

	<link rel="stylesheet" type="../static/css/footer.css?shareshopversion=1.1.1.191111" />
	<link rel="stylesheet" href="../css/activityShop.css">
	<link rel="stylesheet" href="../css/goodList.css">
	<link rel="stylesheet" href="../font/iconfont.css">
	<style>
		a {
			color: unset;
		}
	</style>
</head>

<body>
	<header class="sp-header search">
		<div class="lf">南阳&nbsp;<i class="iconfont icon-triangledownfill"></i></div>
		<div class="content">
			<i class="iconfont icon-secondsearch_accurate"></i>
			<input type="text" placeholder="请输入商铺名称">
			<div class="btn">搜索</div>
		</div>
	</header>
	<section class="as-scroll">
		<!-- 导航栏 -->
		<div class="as-nav-wrapper">
			<nav class="as-nav">
				<div class="nav-left">
					全部
				</div>
				<ul class="nav-list">

					<li class="nav-item" data-target="#ch">
					<img src="http://img4.imgtn.bdimg.com/it/u=2546373920,3788319606&fm=26&gp=0.jpg" alt="">	吃喝
					</li>
					<li class="nav-item" data-target="#wl"><img src="http://img4.imgtn.bdimg.com/it/u=2546373920,3788319606&fm=26&gp=0.jpg" alt="">玩乐</li>
					<li class="nav-item"><img src="http://img4.imgtn.bdimg.com/it/u=2546373920,3788319606&fm=26&gp=0.jpg" alt="">溜娃</li>
					<li class="nav-item"><img src="http://img4.imgtn.bdimg.com/it/u=2546373920,3788319606&fm=26&gp=0.jpg" alt="">变美</li>
					<li class="nav-item"><img src="http://img4.imgtn.bdimg.com/it/u=2546373920,3788319606&fm=26&gp=0.jpg" alt="">周边游</li>
				</ul>
			</nav>
			<div class="nav-collapse" id="ch">
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
				<div>溜娃</div>
			</div>
			<div class="nav-collapse" id="wl">
				<div class="active">溜娃</div>
				<div>玩乐</div>
				<div>玩乐</div>


			</div>
		</div>
		<div class="as-nav-wrapper">
			<nav class="as-nav">
				<div class="nav-left">
					全部
				</div>
				<ul class="nav-list">
					<li class="nav-item" data-target>
						卧龙区
					</li>
					<li class="nav-item" data-target>宛城区</li>
					<li class="nav-item" data-target>高新区</li>
				</ul>
			</nav>
		</div>
		<ul class="kjan">
			<li class="zkhd active">
				<i class="iconfont icon-dianneidaliducuxiao"></i> 活动力度
			</li>
			<li class="thhd">
				<i class="iconfont icon-juli"></i> 离我最近
			</li>
			<li class="hpsj">
				<i class="iconfont icon-koubei"></i> 商家口碑
			</li>
		</ul>
		
		<div class="module-head plr40">
			<div class="head-text">
				<div class="title">今日推荐</div>
				<div class="description">爆品优选，快来尝鲜</div>
			</div>
		</div>
		<!-- 商品 -->
		<ul class="jrtj">
			<li>
				<a href="">
					<div class="item">
						<div class="cover1 relative"><img
								src="http://img1.imgtn.bdimg.com/it/u=2546612145,2936515136&fm=26&gp=0.jpg" class="thumb1-bg">

							<!---->
							<div class="tag">
								可叠加使用
							</div>
							<div class="shop">
								<div class="shop-name compulsory-row-one">
									潮辣矿泉水火锅（洛宜路店）
								</div>
								<div class="shop-position">
									大学城
									<span>|</span> <span>
										180.2km
									</span></div>
							</div>
						</div>
						<div class="info">
							<div class="title mt20 compulsory-row"><img
									src="http://manage.yihuoshidai.com/files/0bc66582-8689-4550-b322-297959ac9f4e.png"
									class="inline-block">
								<!---->
								<!---->
								【会员半价】59.9元抢购潮辣矿泉水火锅100元代金券（可叠加）
							</div>
							<div class="reference">
								<div class="origin-price">￥100.00</div>
								<div class="hot"><img
										src="http://manage.yihuoshidai.com/files/d6f3cf80-1bba-4e11-ad2f-f7e6e71d5e87.png"
										class="hotval-img">
									9949
								</div>
							</div>
							<div class="buy flex-align-center">
								<div class="price flex-wrp flex-align-center status-common">
									<div class="flex-wrp flex-end"><span>￥</span> <span class="int">59</span> <span
											class="mr10">.90</span></div>
									<div class="flex-wrp flex-align-center status size20">
										<div class="status-left">会员</div>
										<div class="status-right">
											再减
											<span>30.00</span>元
										</div>
									</div>
								</div>
								<div class="buybtn">购买</div>
							</div>
						</div>
					</div>
				</a>

			</li>
			<li>
				<div class="item">
					<div class="cover1 relative"><img
							src="http://img1.imgtn.bdimg.com/it/u=2546612145,2936515136&fm=26&gp=0.jpg" class="thumb1-bg">

						<!---->
						<div class="tag">
							可叠加使用
						</div>
						<div class="shop">
							<div class="shop-name compulsory-row-one">
								潮辣矿泉水火锅（洛宜路店）
							</div>
							<div class="shop-position">
								大学城
								<span>|</span> <span>
									180.2km
								</span></div>
						</div>
					</div>
					<div class="info">
						<div class="title mt20 compulsory-row"><img
								src="http://manage.yihuoshidai.com/files/0bc66582-8689-4550-b322-297959ac9f4e.png"
								class="inline-block">
							<!---->
							<!---->
							【会员半价】59.9元抢购潮辣矿泉水火锅100元代金券（可叠加）
						</div>
						<div class="reference">
							<div class="origin-price">￥100.00</div>
							<div class="hot"><img
									src="http://manage.yihuoshidai.com/files/d6f3cf80-1bba-4e11-ad2f-f7e6e71d5e87.png"
									class="hotval-img">
								9949
							</div>
						</div>
						<div class="buy flex-align-center">
							<div class="price flex-wrp flex-align-center status-common">
								<div class="flex-wrp flex-end"><span>￥</span> <span class="int">59</span> <span
										class="mr10">.90</span></div>
								<div class="flex-wrp flex-align-center status size20">
									<div class="status-left">会员</div>
									<div class="status-right">
										再减
										<span>30.00</span>元
									</div>
								</div>
							</div>
							<div class="buybtn">购买</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!-- <div class="big-img">
			<img src="http://img2.imgtn.bdimg.com/it/u=1103923868,2796663150&fm=26&gp=0.jpg" alt="">
		</div> -->
		<div>
			<ul class="shops">
				<li class="mflq-good">
					<a href="">
						<div class="img-wrapper">
							<img src="http://img5.imgtn.bdimg.com/it/u=1539289873,1196634232&fm=26&gp=0.jpg" alt="">
						</div>
						<div class="content">
							<div class="bt">
								<span class="fbt">高档型</span>	<span class="dm">阿尔特精致酒店</span> 
							</div>
							<div class="pj-xf">
								<span class="pj">4.9 很好</span> <span class="xf">5000+消费</span>
							</div>
							<div class="dz">
								<span class="jl">距我直线2.2km</span>
								|
								<span class="fj">南阳市八中附近</span>
							</div>
							<div class="cs"><span>最高</span><span class="lxb"> 赠 </span><span
									class="sp-money-icon">500</span></div>
							<div class="bq-wrapper">
								<span class="bq">天天特价</span>
								<span class="bq">八元钟点房劵</span>
								<span class="bq">天天特价</span>
								<span class="bq">八元钟点房劵</span>
								<span class="bq">天天特价</span>
								<span class="bq">八元钟点房劵</span>
							</div>
						</div>
					</a>
				</li>
				<li class="mflq-good2">
					<a href="">
						<div class="top">
							<div class="img-wrapper">
								<img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1384842216,2538973744&fm=26&gp=0.jpg"
									alt="">
							</div>
							<div class="content">
								<div class="bt">
									<span class="dm">阿尔特精致酒店</span> <span class="fbt">高档型</span>
								</div>
								<div class="pf-dz">
									<div class="zb">
										<span class="pf"><i class="iconfont icon-xingxing-copy"></i>5.0</span><span
											class="ys">月售781</span>
									</div>
									<div class="yb">
										<span class="fj">卧龙路附近卧龙路附近卧龙路附近卧龙路附近</span><span class="jl">1.3km</span>
									</div>
								</div>
								<div class="fw">
									<span class="bq">到店购买 <i class="iconfont icon-duihao1"></i></span>
									<span class="bq">支持配送 <i class="iconfont icon-duihao1"></i></span>
								</div>
								<!-- <div class="bq-wrapper">
									<span class="bq">0.09元爆品</span>
									<span class="bq">4.83折起</span>
								</div> -->
							</div>
						</div>
						<div class="bottom">
							<ul class="zp-list">
								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper"><span>￥</span><span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

								<li class="zp">
									<div class="img-wrapper">
										<div class="zhaopai">招牌</div>
										<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg"
											alt="">
									</div>
									<div class="mz">华夫饼(奶香58464646464)</div>
									<div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span
											class="sp-money-icon">200</span></div>
								</li>

							</ul>
						</div>

					</a>

				</li>

			</ul>
		</div>
	</section>
	<footer class="aui-bar aui-bar-tab" id="footer" style="height: 50px;">

		<a href="" class="aui-bar-tab-item">
			<i class="iconfont icon-shangpin1" aria-hidden="true" style="font-size: 20px;"></i>
			<div class="aui-bar-tab-label">线上商品</div>
		</a>

		<a href="" class="aui-bar-tab-item">
			<i class="iconfont icon-dianpu_" aria-hidden="true" style="font-size: 20px;"></i>

			<div class="aui-bar-tab-label">线下商铺</div>
		</a>
		<a href="" class="aui-bar-tab-item aui-active">
			<i class="iconfont icon-lingquan" aria-hidden="true" style="font-size: 20px;"></i>
			<div class="aui-bar-tab-label">消费领钱</div>
		</a>
		<a href="" class="aui-bar-tab-item">
			<!--<div class="aui-badge">99</div>-->
			<i class="iconfont icon-gouwuche1" aria-hidden="true" style="font-size: 20px;"></i>
			<div class="aui-bar-tab-label">购物车</div>
		</a>

		<a href="" class="aui-bar-tab-item">
			<!--<div class="aui-dot"></div>-->
			<i class="iconfont icon-wodedangxuan" aria-hidden="true" style="font-size: 20px;"></i>
			<div class="aui-bar-tab-label">我的</div>
		</a>
	</footer>
	<script src="../static/js/zepto.min.js"></script>
	<script src="../static/js/touch.js"></script>
	<script>
		$(function () {
			initASNav()
			initBtns()
		})
		function initBtns() {
			$(".kjan li").tap(function () {
				var $wrapper = $(this).parent()
				$wrapper.find("li.active").removeClass("active")
				$(this).addClass("active")
			})
		}
		function initASNav() {
			$(".as-nav [data-target]").tap(function () {
				var $wrapper = $(this).parent().parent().parent()
				$wrapper.find(".as-nav [data-target].active").removeClass("active")
				$(this).addClass("active")
				$wrapper.find(".nav-collapse.active").removeClass("active")
				$($(this).data("target")).addClass("active")
			})
			$(".nav-collapse>div").tap(function () {
				var $wrapper = $(this).parent().parent()
				$wrapper.find(".nav-collapse>div.active").removeClass("active")
				$(this).addClass("active")
			})
			$(".nav-left").tap(function () {
				var $wrapper = $(this).parent().parent()
				$wrapper.find(".as-nav [data-target].active").removeClass("active")
				$wrapper.find(".nav-collapse.active").removeClass("active")
				$wrapper.find(".nav-collapse>div.active").removeClass("active")
			})
		}

	</script>
</body>

</html>