<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商铺活动</title>
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/activiyshopdetail.css">
    <link rel="stylesheet" href="../static/css/shopPhotoSlide.css?shareshopversion=1.1.1.191114" type="text/css">
    <link rel="stylesheet" href="../css/dySlider.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <style>
    #card-wrapper,#item-wrapper{
        display: none;
    }
    .shop-mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .3);
    display: none;
    z-index: 100;
}

.shop-popup {
    width: 100vw;
    position: fixed;
    background-color: #fff;
    z-index: 2222;
}

.shop-popup-bottom {
    height: 60vh;
    border-radius: 10px 10px 0 0;
    top: 180vh;
    left: 0;
    transition: bottom .5s ease-in;
    -webkit-overflow-scrolling: touch; 
    overflow-y: scroll;
}

.shop-popup-bottom.show {
    top: 40vh;
    transition: top .5s ease-out;
}

    </style>
</head>

<body>
    <a href="tel:165416446" class="asd-kf sp-drag"><img class="animated shake" src="http://manage.yihuoshidai.com/files/a1d34b7f-dabe-40cc-a7b1-0867c5c97637.png" alt=""></a>
    <header class="sp-header">
        <a href="javascript:history.back();" class="lf"><i class="iconfont icon-zuo1"></i></a>
        <div class="title">商铺活动</div>
    </header>
    <section class="asd-scroll">
        <div class="asd-top">
            <div class="swiper-container" id="swiper3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="http://img0.imgtn.bdimg.com/it/u=3263252862,4182773956&fm=26&gp=0.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://img3.imgtn.bdimg.com/it/u=1005072396,474069441&fm=26&gp=0.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://img4.imgtn.bdimg.com/it/u=4267691209,2660896453&fm=26&gp=0.jpg" alt="">
                    </div>
                </div>
            </div>
            <a class="info">
                <div>优秀</div>
                <div class="pf">4.9</div>
                <div class="rqb">南阳影城人气榜</div>
                <div>5421评价<i class="iconfont icon-jiantouyou"></i></div>
            </a>
        </div>
        <div class="shop-name">
            老农夫果园（太平庄店）
        </div>
        <div class="dz-wrapper">
            <div class="xq">
                卧龙区卧龙路与车站路交叉口东北角(近车站路，卧龙岗动400米)
                <span>滨河西路</span>
            </div>
            <a class="dh">地图/导航<i class="iconfont icon-jiantouyou"></i></a>
            <div class="jl"><i class="iconfont icon-diliweizhi"></i>据我直线2.2km，驾车约7分钟</div>
        </div>

        <!-- 卡片 -->
        <div id="card-wrapper">
            <div class="slider-wrapper">
                <div class="slider-bg"></div>
                <ul class="slider vipcard" id="dys">
                </ul>
    
            </div>
            <div id="cardName" class="asd-name">
                <!-- <div class="name">私人订制会员卡</div>
                <div class="jg-wrapper">
                    <div class="msj">门市价<span>￥500</span>
                    </div>
                    <div class="lxj">利享价<span>450</span></div>
                    <div class="sq">省50元</div>
                </div>
                <div class="hyksq">
                    使用会员卡再省50元
                </div> -->
            </div>
            <!-- <div id="cardName" class="as-name"> 
                <div class="msj">
                    门市价￥<span></span> 
                </div>
                <div class="mz-wrapper">
                    <div class="mz">
    
                    </div>
                    <div class="jg">
                            ￥<span></span> 
                        </div>
                </div></div> -->
            <ul id="cardMansong" class="mansong">
    
            </ul>
        </div>
       <div id="item-wrapper">
        <div class="slider-wrapper">
            <div class="slider-bg"></div>
            <ul class="slider" id="dys2">

            </ul>

        </div>
        <div id="itemName" class="asd-name">
         
        </div>
      
        <ul id="itemMansong" class="mansong">

        </ul>
       </div>
       
        <section id="goods" class="product-detail">
                <div class="pd-1">产品详情</div>
                <ul class="pd-2">
                    <li>
                        <span class="title">形体管理与调整</span>
                        <span class="subtitle">副标题副标题副标题副标题副标题副标题副标题副标题副标题副标题副标题副标题</span>
                        <span class="price">一份<div class="sp-dividing"></div>200元</span>
                    </li>
        
                </ul>
                <div class="pd-3">
                    <div> 总价 <span class="total">200元</span></div>
                    <table style="clear: both;"></table>
                    <div>团购价 <span class="price">19.8元</span></div>
                    <table style="clear: both;"></table>
                </div>
                <div class="pd-4">
                    <div>10选1体验,需电话提前预约</div>
                    <div>颈前移、高低肩、扣背拱背、Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure et provident, necessitatibus
                        sequi voluptatibus ipsa quo deserunt? Ex, sunt iusto?</div>
                </div>
                <div  class="pd-5">图文详情</div>
                <div id="pic-text" class="sp-collapse-wrapper pd-6">
                    <img src="http://img0.imgtn.bdimg.com/it/u=1821682225,1908512453&fm=26&gp=0.jpg" alt="">
        
                </div>
        
                <div class="blur"></div>
                <div data-target="#pic-text" onclick="spMore(this)" class="sp-more ">查看更多&nbsp;<i class="iconfont icon-xiala"></i></div>
            </section>
        
            <section id="info" class="sp-pi">
                <div class="pi-h">
                    购买须知
                </div>
                <div id="info-clp">
                    <div class="pi-title">有效期</div>
                    <div class="pi-content">
                        购买后15天内有效
                    </div>
                    <div class="pi-title">使用时间</div>
                    <div class="pi-content">
                        10:00-21:00
                    </div>
                    <div class="pi-title">温馨提示</div>
                    <div class="pi-content">
                        安全才是离家最近的路。
                    </div>
                    <div class="pi-content">
                        车好人好道路好,更需你来照章跑。 你不争我不争,交通事故不发生。 和谐泉州万家欢乐,文明交通一路平安。
                    </div>
                </div>
           
            </section>
        <div class="comment-wrapper">
            <div class="sp-comment">
                <header>
                    <div class="sp-ch-1">
                        <div>用户评价(579)</div>
                        <div><i class="iconfont icon-jiantouyou"></i></div>
                    </div>
                    <div class="sp-ch-3">
                        <ul class="names">
                            <li>
                                价格实惠
                            </li>
                            <li>
                                店内环境
                            </li>
                            <li>
                                服务态度
                            </li>
                        </ul>
                        <ul class="stars">
                            <li>
                                <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                    <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                    <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                </div>
                            </li>
                            <li>
                                <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                    <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                    <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                </div>
                            </li>
                            <li>
                                <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                    <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                    <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                    <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                </div>
                            </li>
                        </ul>
                        <ul class="explain">
                            <li>星级越高,代表评分越高</li>
                            <li>星级越低,代表客户满意度低</li>
                        </ul>
                    </div>
                </header>


                <ul class="comment-list">
                    <li class="comment-item">
                        <div class="cm-left">
                            <div>
                                <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="cm-right">
                            <div>
                                <span>魔女哇啊啊 </span>
                                <span>11月14日</span>
                            </div>
                            <div>双眼皮+美白+除皱瘦脸</div>
                            <div> <span>打分&nbsp;</span>
                                <div>
                                    <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                        <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                        <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                    </div>
                                </div>
                            </div>
                            <p class="cm-content">
                                　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                            </p>
                            <div><a class="all sp-hide">全文</a></div>
                            <div class="cm-imgs">
                                <div class="cm-img-item">
                                    <img data-idx="0"
                                        src="https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c"
                                        alt="">
                                </div>
                                <div class="cm-img-item">
                                    <img data-idx="1"
                                        src="http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="cm-img-item">
                                    <img data-idx="2"
                                        src="http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="comment-item">
                        <div class="cm-left">
                            <div>
                                <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="cm-right">
                            <div>
                                <span>魔女哇啊啊 </span>
                                <span>11月14日</span>
                            </div>
                            <div>双眼皮+美白+除皱瘦脸</div>
                            <div> <span>打分&nbsp;</span>
                                <div>
                                    <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                        <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                        <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                    </div>
                                </div>
                            </div>
                            <p class="cm-content">
                                　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                            </p>
                            <div><a class="all sp-hide">全文</a></div>
                            <div class="cm-imgs">
                                <div class="cm-img-item">
                                    <img data-idx="0"
                                        src="http://img1.imgtn.bdimg.com/it/u=589495725,2781423202&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="cm-img-item">
                                    <img data-idx="1"
                                        src="http://img0.imgtn.bdimg.com/it/u=3181608489,2862622153&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="cm-img-item">
                                    <img data-idx="2"
                                        src="http://img1.imgtn.bdimg.com/it/u=2405417869,3124925590&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="" class="cm-lka">
                    <div>查看全部用户评价</div>
                    <div><span>共579条 </span><i class="fas fa-angle-right"></i></div>
                </a>
            </div>
        </div>

    </section>
    <footer class="asd-footer">
        <div class="tb">
            <i class="iconfont icon-shangpin1"></i>
            <div>首页</div>
        </div>
        <div class="tb">
            <i class="iconfont icon-lianxi"></i>
            <div>客服</div>
        </div>
        <div class="btn"> 
            <div class="ljgm" >
                立即购买
            </div>
            <div class="sq">省￥50</div>
        </div>
    </footer>
    <!-- 相册全屏的轮播 -->
    <div>
        <div class="shop-slide-container">
            <div class="close">X</div>
            <div class="shop-slide-wrap">

            </div>
        </div>
    </div>
    <!-- 弹出框 -->
    <div id="mypanel" class="shop-popup shop-popup-bottom">
        <section id="card_goods" class="product-detail">
            <div class="pd-1">产品详情</div>
            <ul class="pd-2">
                <li>
                    <span class="title">形体管理与调整</span>
                    <span class="subtitle">副标题副标题副标题副标题副标题副标题副标题副标题副标题副标题副标题副标题</span>
                    <span class="price">一份<div class="sp-dividing"></div>200元</span>
                </li>
    
            </ul>
            <div class="pd-3">
                <div> 总价 <span class="total">200元</span></div>
                <table style="clear: both;"></table>
                <div>团购价 <span class="price">19.8元</span></div>
                <table style="clear: both;"></table>
            </div>
            <div class="pd-4">
                <div>10选1体验,需电话提前预约</div>
                <div>颈前移、高低肩、扣背拱背、Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure et provident, necessitatibus
                    sequi voluptatibus ipsa quo deserunt? Ex, sunt iusto?</div>
            </div>
            <div  class="pd-5">图文详情</div>
            <div id="card_pic-text" class="sp-collapse-wrapper pd-6" style="height: unset;">
                <img src="http://img0.imgtn.bdimg.com/it/u=1821682225,1908512453&fm=26&gp=0.jpg" alt="">
    
            </div>
    
    
            <!-- <div data-target="#pic-text" onclick="spMore(this)" class="sp-more">查看更多&nbsp;<i class="fas fa-angle-down"></i></div> -->
        </section>
    
        <section id="card_info" class="sp-pi">
            <div class="pi-h">
                购买须知
            </div>
            <div id="card_info-clp">
                <div class="pi-title">有效期</div>
                <div class="pi-content">
                    购买后15天内有效
                </div>
                <div class="pi-title">使用时间</div>
                <div class="pi-content">
                    10:00-21:00
                </div>
                <div class="pi-title">温馨提示</div>
                <div class="pi-content">
                    安全才是离家最近的路。
                </div>
                <div class="pi-content">
                    车好人好道路好,更需你来照章跑。 你不争我不争,交通事故不发生。 和谐泉州万家欢乐,文明交通一路平安。
                </div>
            </div>
       
        </section>

    
    
    </div>
    <script src="../static/js/zepto.min.js"></script>
    <script src="../static/js/touch.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script type="text/javascript" src="../static/js/shopPhotoSlide.js?shareshopversion=1.1.1.191114"></script>
    <script src="../js/dySlider.zepto.js"></script>
    <script src="../js/selector.js"></script>
    <script src="../js/activiyshopdetail.js"></script>
    <script>
    // 拖动图片
    $(function(){
        $(".sp-drag").on('touchstart',function(ev){
          
           var touch=ev.touches[0]
            var left=touch.pageX
            var top=touch.pageY
            var p= $(this).position()
            this.drag_offset={
                left:left-p.left,
                top:top-p.top
            }
            ev.stopPropagation()
        }).on('touchmove',function(ev){
            ev.preventDefault()
            var touch=ev.touches[0]
            var left=touch.pageX
            var top=touch.pageY
            $(this).css({
                left:left-this.drag_offset.left,top:top-this.drag_offset.top
            })
        })
    })
    
</script>
</body>

</html>