<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>全部评价</title>
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link rel="stylesheet" href="../font/all.min.css">
    <link rel="stylesheet" href="../css/comments.css">
    <link rel="stylesheet" href="../static/css/shopPhotoSlide.css?shareshopversion=1.1.1.191114" type="text/css">

</head>

<body>
      <!-- 相册全屏的轮播 -->
      <div>
            <div class="shop-slide-container">
                <div class="close">X</div>
                <div class="shop-slide-wrap">

                </div>
            </div>
            </div>
    <header class="sp-header">
        <a href="javascript:history.back();" class="lf"><i class="fas fa-chevron-left"></i></a>
        <div class="title">全部评价</div>
    </header>
    <ul class="cmt-navbar">
        <li class="item active" data-target="#quanbu">
            <div>
                全部(603)
            </div>
        </li>
        <li class="item" data-target="#shaitu">
            <div>
                晒图(297)
            </div>
        </li>
        <li class="item" data-target="#difen">
            <div>
                低分(23)
            </div>
        </li>
        <li class="item" data-target="#zuixin">
            <div>
                最新
            </div>
        </li>
    </ul>
   

    <section id="quanbu" class="cmt-wrapper">
            <div class="cmt-sec">
                    <div class="cmt-labels">
                        <a>
                            <div class="cmt-label">
                                皮肤管理&nbsp;244
                            </div>
                        </a>
                        <a>
                            <div class="cmt-label active">
                                皮肤管理&nbsp;244
                            </div>
                        </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                        <a>
                                <div class="cmt-label">
                                    皮肤管理&nbsp;244
                                </div>
                            </a>
                    </div>
                    <div class="down sp-hide">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
        <ul class="comment-list">
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0"
                                src="https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0" src="http://img1.imgtn.bdimg.com/it/u=589495725,2781423202&fm=26&gp=0.jpg"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img0.imgtn.bdimg.com/it/u=3181608489,2862622153&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img1.imgtn.bdimg.com/it/u=2405417869,3124925590&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section id="shaitu" class="cmt-wrapper sp-hide">
        <ul class="comment-list">
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0"
                                src="https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0" src="http://img1.imgtn.bdimg.com/it/u=589495725,2781423202&fm=26&gp=0.jpg"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img0.imgtn.bdimg.com/it/u=3181608489,2862622153&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img1.imgtn.bdimg.com/it/u=2405417869,3124925590&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section id="difen" class="cmt-wrapper sp-hide">
        <ul class="comment-list">
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0"
                                src="https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0" src="http://img1.imgtn.bdimg.com/it/u=589495725,2781423202&fm=26&gp=0.jpg"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img0.imgtn.bdimg.com/it/u=3181608489,2862622153&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img1.imgtn.bdimg.com/it/u=2405417869,3124925590&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section id="zuixin" class="cmt-wrapper sp-hide">
        <ul class="comment-list">
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0"
                                src="https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="comment-item">
                <div class="cm-left">
                    <div>
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="cm-right">
                    <div>
                        <span>魔女哇啊啊 </span>
                        <span>11月14日</span>
                    </div>
                    <div>双眼皮+美白+除皱瘦脸</div>
                    <div> <span>打分&nbsp;</span>
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                    </div>
                    <p class="cm-content">
                        　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                    </p>
                    <div><a class="all sp-hide">全文</a></div>
                    <div class="cm-imgs">
                        <div class="cm-img-item">
                            <img data-idx="0" src="http://img1.imgtn.bdimg.com/it/u=589495725,2781423202&fm=26&gp=0.jpg"
                                alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="1"
                                src="http://img0.imgtn.bdimg.com/it/u=3181608489,2862622153&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="cm-img-item">
                            <img data-idx="2"
                                src="http://img1.imgtn.bdimg.com/it/u=2405417869,3124925590&fm=26&gp=0.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <script src="../static/js/zepto.min.js"></script>
    <script src="../static/js/touch.js"></script>
    <script type="text/javascript" src="../static/js/shopPhotoSlide.js?shareshopversion=1.1.1.191114"></script>
    <script>
        $(function () {
            initCollapse()
            initCmt()
            initNav()
            initFullPicture()
            initLabels()
            function initFullPicture(){
            var    ss=new shopSlide([],{
               custom:".cm-img-item"
           })
           //获取所有图片
           $(".cm-imgs img").tap(function(){
            var imgs=$(this).parent().parent().find("img")
           var imgUrls = [];
           imgs.each(function (i, e) {
               var url = e.src;
               imgUrls.push(url)
           })
            ss.changeImg(imgUrls,this.dataset.idx)
           })
         
        }
        function initLabels(){
            $(".cmt-labels .cmt-label").tap(function(){
                $(".cmt-labels .cmt-label.active").removeClass("active")
                $(this).addClass("active")
                var content="<li class=\"comment-item\">\n" +
"                <div class=\"cm-left\">\n" +
"                    <div>\n" +
"                        <img src=\"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&amp;fm=26&amp;gp=0.jpg\" alt=\"\">\n" +
"                    </div>\n" +
"                </div>\n" +
"                <div class=\"cm-right\">\n" +
"                    <div>\n" +
"                        <span>魔女哇啊啊 </span>\n" +
"                        <span>11月14日</span>\n" +
"                    </div>\n" +
"                    <div>双眼皮+美白+除皱瘦脸</div>\n" +
"                    <div> <span>打分&nbsp;</span>\n" +
"                        <div>\n" +
"                            <div style=\"cursor: pointer;width: 100px;display: flex;align-items: center;\">\n" +
"                                <img src=\"../static/img/raty/star-on.png\" alt=\"1\" title=\"bad\">&nbsp;\n" +
"                                <img src=\"../static/img/raty/star-on.png\" alt=\"2\" title=\"poor\">&nbsp;\n" +
"                                <img src=\"../static/img/raty/star-on.png\" alt=\"3\" title=\"regular\">&nbsp;\n" +
"                                <img src=\"../static/img/raty/star-on.png\" alt=\"4\" title=\"good\">&nbsp;\n" +
"                                <img src=\"../static/img/raty/star-off.png\" alt=\"5\" title=\"gorgeous\">\n" +
"                            </div>\n" +
"                        </div>\n" +
"                    </div>\n" +
"                    <p class=\"cm-content\">\n" +
"                        　党的十九届四中全会从党和国家事业发展\n" +
"                    </p>\n" +
"                    <div><a class=\"all sp-hide\">全文</a></div>\n" +
"                    <div class=\"cm-imgs\">\n" +
"                        <div class=\"cm-img-item\">\n" +
"                            <img data-idx=\"0\" src=\"https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c\" alt=\"\">\n" +
"                        </div>\n" +
"                        <div class=\"cm-img-item\">\n" +
"                            <img data-idx=\"1\" src=\"http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&amp;fm=26&amp;gp=0.jpg\" alt=\"\">\n" +
"                        </div>\n" +
"                        <div class=\"cm-img-item\">\n" +
"                            <img data-idx=\"2\" src=\"http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&amp;fm=26&amp;gp=0.jpg\" alt=\"\">\n" +
"                        </div>\n" +
"                    </div>\n" +
"                </div>\n" +
"            </li>"
            $("#quanbu ul.comment-list").html(content)
            })
        }
            function initCollapse() {
                // 标签
                var h = $(".cmt-labels").height()
                var vw = $("body").width() / 100

                if (h > 18 * vw) {
                    $(".down").removeClass("sp-hide")
                    $(".down").tap(function () {
                        if ($(this).parent().hasClass("show-all")) {
                            $(this).html("<i class=\"fas fa-angle-down\"></i>")
                            $(this).parent().removeClass("show-all")
                        } else {
                            $(this).html("<i class=\"fas fa-angle-up\"></i>")
                            $(this).parent().addClass("show-all")
                        }

                    })
                }
            }
            function initNav(){
                $(".cmt-navbar .item").tap(function(){
                    $(".cmt-navbar .item.active").removeClass("active")
                    $(this).addClass("active")
                    var target=$(this).data("target")
                    $(".cmt-wrapper:not(.sp-hide)").addClass("sp-hide")
                    $(target).removeClass("sp-hide")
                    initCmt()
                })
            }
            function initCmt() {
                //    评论
                $(".all").each(function (i, e) {
                    var p = $(this).parent().siblings("p")
                    var h = p.height()
                    var vw = $("body").width() / 100

                    if (h > 29.33 * vw) {
                        $(this).removeClass("sp-hide")
                        $(this).tap(function () {
                            if (p.hasClass("show-all")) {
                                $(this).html("全文")
                                p.removeClass("show-all")
                            } else {
                                $(this).html("收起")
                                p.addClass("show-all")
                            }

                        })
                    }

                })
            }
        })

    </script>
</body>

</html>