<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享赚</title>
    <link rel=stylesheet href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/screenshot.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <style>
        #jietu img {
            width: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            height: 1000px;
        }

       
    </style>
</head>

<body>
   
    <div class="yqhy-kf">
        <div class="yqhy">
            <ul class="tx-list">
                <li class="tx">
                    <img src="https://wx.qlogo.cn/mmhead/CKibrMLPibsL09FnhxLHLzEK0Z0BSWibibAYqPzw0Zh4dUo/132" alt="">
                </li>
                <li class="tx">
                    <img src="https://wx.qlogo.cn/mmhead/CKibrMLPibsL09FnhxLHLzEK0Z0BSWibibAYqPzw0Zh4dUo/132" alt="">
                </li>
                <li class="tx">
                    <img src="https://wx.qlogo.cn/mmhead/CKibrMLPibsL09FnhxLHLzEK0Z0BSWibibAYqPzw0Zh4dUo/132" alt="">
                </li>
                <li class="tx">
                    <img src="https://wx.qlogo.cn/mmhead/CKibrMLPibsL09FnhxLHLzEK0Z0BSWibibAYqPzw0Zh4dUo/132" alt="">
                </li>
                <li class="tx">
                    <img src="https://wx.qlogo.cn/mmhead/CKibrMLPibsL09FnhxLHLzEK0Z0BSWibibAYqPzw0Zh4dUo/132" alt="">
                </li>
                <li class="tx">
                    <img src="http://manage.yihuoshidai.com/files/0c6dd24e-06a3-4863-aa3a-1a84c4f89562.png" alt="">
                </li>
            </ul>
            <div class="gxq">251人感兴趣</div>
            <div class="yqq" onclick="jietu()">邀请好友一起抢</div>
        </div>
        <div class="kf-wrapper">
            <div class="kf-code"><img
                    src="https://wx.qlogo.cn/mmhead/CKibrMLPibsL09FnhxLHLzEK0Z0BSWibibAYqPzw0Zh4dUo/132" alt=""></div>
            <div class="text">
                <div class="lxkf">利享客服</div>
                <div class="ljgd">添加客服,了解更多</div>
            </div>
            <div class="tj" onclick="lxkf()">添加</div>
        </div>
    </div>
    


    <script src="../static/js/jquery.min.js"></script>
    <script src="../js/html2canvas.js"></script>
    <script src="../js/qrcode.min.js"></script>
    <script src="../js/screenshot.js"></script>
    <script>
   function jietu() {
            screenshot.init()
        }

       


    </script>
</body>

</html>