<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>提交订单</title>
        <link rel="stylesheet" href="../css/iconfont.css">
        <link rel="stylesheet" href="../css/screen.css">
        <link rel="stylesheet" href="../css/spcommon.css">
        <link rel="stylesheet" href="../css/projectOrder.css">
        <!-- <script src="https://kit.fontawesome.com/6b7cf02c0a.js" crossorigin="anonymous"></script> -->
</head>
<body>
        <header class="sp-header">
                <a href="javascript:history.back();" class="lf"><i class="fas fa-chevron-left"></i>&nbsp;返回</a>
                <div class="title">提交订单</div>
            </header>
        <section class="po-top">
            <div class="pot-1">
                [恒力瘦脸针]正品特惠 恒力瘦脸针 喜提小V脸
            </div>
            <div class="pot-2"><span class="sp-money-icon">1436</span></div>
            <div class="pot-3">有效期360天 <div class="sp-dividing"></div>需提前1天预约</div>
            <div class="pot-4">数量</div>
            <div class="pot-5">1</div>
        </section>
        <section class="sp-lf-rt">
            <label for="cb-1"><div class="sp-jian">减</div>商家立减优惠,减718元</label>
            <div class="po-cb">-￥718 <input id="cb-1" type="checkbox" name="" class="sp-checkbox"></div>
        </section>
        <section class="sp-lf-rt">
            <div class="sp-fc-1">抵用券</div>
            <div>暂无可用<i class="fas fa-chevron-right"></i></div>
        </section>
        <section class="po-sc-2">
            <div class="sc-21">订单金额</div>
          
                <div  class="sc-22"><span class="sp-money-icon">718</span></div>
             <div  class="sc-23">
                 (已优惠:$718)
             </div>
        </section>

        <section class="sp-lf-rt">
            <label for="cb-2"><div class="sp-bao">保</div>微整形注射险</label>
            <div class="po-cb">￥718<input id="cb-2" type="checkbox" name="" class="sp-checkbox"></div>
        </section>
        <section class="sp-lf-rt">
            <div class="sp-fc-1">手机号码</div>
            <div>151****1182</div>
        </section>
      
       <section class="po-sc-bottom">
           <label for="cb-3" class="sc-b-1 po-cb"><input id="cb-3" type="checkbox" name="" class="sp-checkbox">我同意商户电话咨询我何时到店</label>
           <div class="sc-b-2">
               <span><i class="iconfont icon-duihao"></i> 随时退</span>
               <span><i class="iconfont icon-duihao"></i> 过期退</span>
           </div>
           
       </section>
       <div class="sp-btn sp-btn-t sp-btn-block">去支付 718元</div>
</body>
</html>