<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>商品列表</title>
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link rel="stylesheet" href="../css/shopProjectList.css">
    <!-- <script src="https://kit.fontawesome.com/6b7cf02c0a.js" crossorigin="anonymous"></script> -->
</head>

<body>
    <header class="sp-header">
        <a href="javascript:history.back();" class="lf"><i class="fas fa-chevron-left"></i></a>
        <div class="title">商品列表</div>
    </header>
    <section class="spl-nav">
        <div id="sd-labels-wrapper" class="sd-labels-wrapper">
            <ul class="sp-label-line">
                <li class="sp-label2 active"><a href="#title1">热门推荐</a></li>
                <li class="sp-label2"><a href="#title2">热门推荐</a></li>
            


            </ul>
        </div>
    </section>

    <section class="spl-list" id="outterscroll">
        <div>
                <div id="title1" class="spl-title">热门推荐</div>
                <ul class="goods">
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
                                <div class="good-md" style="display: block;">
                                          
                                    <div class="aui-label shop-label-all">全额兑换</div>
                                &nbsp;
                                    <div class="aui-label aui-label-primary">返佣商品</div>
                       
                            </div>
                                <div class="good-bottom">
                                    <span class="sp-money-icon">79</span>
                                </div>
                            </div>
                        </a>
        
                    </li>
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
        
                                <div class="good-bottom">
                                    <span class="sp-money-icon">79</span>
                                </div>
                            </div>
                        </a>
        
                    </li>
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
        
                                <div class="good-bottom">
                                    <span class="sp-money-icon">79</span>
                                </div>
                            </div>
                        </a>
        
                    </li>
        
        
                </ul>
                <div id="title2" class="spl-title">热门推荐</div>
                <ul class="goods">
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
        
                                <div class="good-bottom">
                                    <span class="sp-money-icon">79</span>
                                </div>
                            </div>
                        </a>
        
                    </li>
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
        
                                <div class="good-bottom">
                                    <span class="sp-money-icon">79</span>
                                </div>
                            </div>
                        </a>
        
                    </li>
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
        
                                <div class="good-bottom">
                                    <span class="sp-money-icon">79</span>
                                </div>
                            </div>
                        </a>
        
                    </li>
        
        
                </ul>
            
        </div>
       





    </section>
    <script src="../static/js/zepto.min.js"></script>
    <script src="../static/js/touch.js"></script>
    <script src="../static/js/iscroll.js"></script>
    <script>
        $(function () {
            var outterscroll
            initPage()
            function initPage() {
                loadScroll()
                // 精选商品
                $(".sp-label2").tap(function () {
                    $(".sp-label2.active").removeClass("active")
                    $(this).addClass("active")
                })
                $('a[href^="#"]').on('click touchstart', function (e) {
                    //阻止默认点击事件
                    e.preventDefault();
                    var target = this.hash;
          
                        //利用IScroll的scrollToElement方法进行锚点点击效果
                        outterscroll.scrollToElement(target, 0);
                    return true
                });
            }
            function isPassive() {
                var supportsPassiveOption = false;
                try {
                    addEventListener("test", null, Object.defineProperty({}, 'passive', {
                        get: function () {
                            supportsPassiveOption = true;
                        }
                    }));
                } catch (e) { }
                return supportsPassiveOption;
            }

            function bindScroll(el) {
                el.addEventListener('touchmove', function (e) { e.preventDefault(); }, isPassive() ? {
                    capture: false,
                    passive: false
                } : false);
            }


            function loadScroll() {
               scroll= new IScroll('#sd-labels-wrapper', { mouseWheel: true, scrollX: true, scrollY: false });
                bindScroll($("#sd-labels-wrapper")[0])
               outterscroll=  new IScroll('#outterscroll', { mouseWheel: true });
               bindScroll($("#outterscroll")[0])
            }


        })

    </script>
</body>

</html>