<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        华凌医疗美容医院
    </title>
    <link rel="stylesheet" href="../static/css/aui/aui.css">
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" href="../css/shopDetail.css">
    <link rel="stylesheet" href="./keyboard.css">
    <link rel="stylesheet" href="../static/css/shopPhotoSlide.css?shareshopversion=1.1.1.191114" type="text/css">
    <link rel="stylesheet" href="../css/spcommon.css">
    <link href="../static/css/all.min.css" rel="stylesheet" type="text/css" />
    <style>
        * {
            box-sizing: unset;
            -webkit-box-sizing: unset;
        }

        .aui-list-item {
            background-image: none !important;
        }

        .aui-toast {
            z-index: 2000;
        }
    </style>
    <!-- <script src="https://kit.fontawesome.com/6b7cf02c0a.js" crossorigin="anonymous"></script> -->
</head>

<body>
    <div class="bg-img">
        <img src="https://p0.meituan.net/msmerchant/3c3339347af1c1363bb6d6494927829c166405.jpg@368w_208h_1e_1c" alt="">

    </div>
    <div class="scroll-container">
        <div class="container scroll-wrapper">

            <div class="sd-header">
                <div class="sd-hbg" style="background-image: url(https://p0.meituan.net/msmerchant/3c3339347af1c1363bb6d6494927829c166405.jpg@368w_208h_1e_1c);"></div>
                <div class="sd-hbg-color" style="background-color: red;"></div>
                <div class="sd-header-item sd-hi-1">
                    <div class="sd-logo">
                        <img src="./住宿.png" alt="">
                    </div>
                    <div class="sd-title">
                        <div>河南整形美容医院</div>
                        <div class="sp-label-wrapper">
                            <div class="sp-label sp-label-gold">标签</div>
                            <div class="sp-label sp-label-gold">标签</div>
                        </div>
                    </div>
                    <div class="pics">
                        <div class="sp-label2">
                            <i class="fas fa-video"></i><span>11</span> &nbsp;&nbsp; <i
                                class="far fa-image"></i>&nbsp;<span>123</span>
                        </div>
                    </div>
                </div>
                <div class="sd-header-item">
                    <div class="sd-evaluate">
                        <div>
                            <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                            </div>
                        </div>
                        <div>
                            <span>579条评价</span>
                            <span>评分:</span>
                            <span>5.0分</span>
                        </div>
                    </div>

                    <div class="dz-dh">
                        <div class="sd-loc">
                            <div><i class="fas fa-map-marker-alt"></i></div>
                            <div>农业路3号农业路3号农业路3号农业路3号农业路3号农业路3号农业路3号</div>
                        </div>
                        <a href="tel:15646464" class="sd-tel">
                            <div><i class="fas fa-phone-alt"></i></div>
                            <div>电话</div>
                        </a>
                    </div>

                </div>
                <div class="sd-header-item sp-col kh-ys">
                    <div class="sd-slogan">河南整形，六大技术，放心变美</div>
                    <div class="sp-label-wrapper">
                        <div class="sd-ys">
                            <div><i class="fas fa-crown"></i></div>
                            <div>15家机构手牌</div>
                        </div>
                        <div class="sd-ys">
                            <div><i class="fas fa-crown"></i></div>
                            <div>15家机构手牌</div>
                        </div>
                        <div class="sd-ys">
                            <div><i class="fas fa-crown"></i></div>
                            <div>15家机构手牌</div>
                        </div>
                    </div>
                </div>
                <div id="brand" class="aui-hide sp-brand">
                    <div class="brand-title">
                        品牌介绍
                    </div>
                    <div class="brand-content">
                        <img src="https://c.static-nike.com/a/images/f_auto/w_1920,c_limit/5afc8f78-5849-4cce-a4e7-8c87efbe31bf/nikecom-homepage-cn-1105.jpg"
                            alt="">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, molestias atque.
                            Cupiditate eos enim ipsa magnam eveniet iusto commodi inventore, voluptatibus a sunt et
                            blanditiis vitae facilis sapiente veniam molestiae nulla eius porro architecto nostrum
                            voluptatum libero laudantium eligendi rerum? Aperiam maiores debitis voluptatum.
                            Consequuntur rem aliquam perspiciatis! Fugiat voluptates laboriosam aperiam earum nesciunt
                            ipsum ullam magni illum. Officia quaerat atque cum ab ea doloremque provident ipsum enim
                            saepe quasi! Esse, error non. Voluptatem sunt quasi recusandae dolores ex aut repellat rem,
                            veritatis maiores ut! Dolores nemo eveniet labore quibusdam repellat beatae unde temporibus,
                            veniam at! Quae ipsum dolore atque?
                        </p>
                    </div>
                </div>
                <!-- 滤镜 -->
                <div style="height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: -1;">

                </div>
                <div class="down" data-target="#brand">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="sd-ad">
                <a href="">
                    <img src="https://p1.meituan.net/deal/5caf28388f70b4d6db1103141a39701b137071.jpg@46_0_1187_720a%7C388h_640w_2e_90Q%7C213w_120h_1e_1c"
                        alt="">
                </a>

            </div>
            <div class="sp-card">
                <!-- 满送 -->

                <ul class="aui-list aui-collapse aui-border">
                    <div class="aui-collapse-item">
                        <li class="aui-list-item aui-collapse-header">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-title">现金消费送利享币</div>
                                <div class="aui-list-item-right">
                                    <i class="aui-iconfont aui-icon-down aui-collapse-arrow"></i>
                                </div>
                            </div>
                        </li>
                        <div class="aui-collapse-content">
                            <li class="aui-list-item">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-title">现金消费满100送10利享币</div>
                                    <div class="aui-btn aui-btn-danger" data-minprice="100" data-giftgiving="10">付款
                                    </div>
                                </div>
                            </li>
                            <li class="aui-list-item">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-title">现金消费满500送200利享币</div>
                                    <div class="aui-btn aui-btn-danger" data-minprice="500" data-giftgiving="200">付款
                                    </div>
                                </div>
                            </li>
                            <li class="aui-list-item">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-title">现金消费满1000送500利享币</div>
                                    <div class="aui-btn aui-btn-danger" data-minprice="1000" data-giftgiving="500">付款
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <!-- 领取优惠券 -->
                    <div class="aui-collapse-item">
                        <li class="aui-list-item aui-collapse-header">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-title">免费领取购物券</div>
                                <div class="aui-list-item-right">
                                    <i class="aui-iconfont aui-icon-down aui-collapse-arrow"></i>
                                </div>
                            </div>
                        </li>
                        <div class="aui-collapse-content">
                            <li class="aui-list-item">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-title">免费领取购物券 50元</div>
                                    <div class="aui-btn aui-btn-danger" data-shoppingvoucher="50">立即领取</div>
                                </div>
                            </li>
                            <li class="aui-list-item">
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-title">免费领取购物券 88元</div>
                                    <div class="aui-btn aui-btn-danger" data-shoppingvoucher="88">立即领取</div>
                                </div>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
            <section class="sp-block">
                <div class="sp-title-wrapper">
                    <div class="sp-single sp-single-1">卡</div>
                    <div class="sp-title">商家会员卡</div>
                    <div>

                    </div>
                </div>
                <div id="sd-vipcards-wrapper" class="sd-vipcards-wrapper">
                    <ul class="sd-vipcard">
                        <li>
                            <a href="">
                                <div class="vipcard-top" style="background-image: url(./vip.png);">
                                </div>
                                <div class="vipcard-bottom">
                                  <div class="vip-1">
                                        会员卡会员卡会员卡会员卡会员卡会员卡会员卡会员卡
                                  </div>
                                  <div class="vip-2">
                                      兑换价 200
                                  </div>
                                  <div class="vip-3">
                                      <!-- 省50 -->
                                  </div>
                                  <div class="vip-4">
                                      <!-- 门市价 ￥150 -->
                                    </div>
                                  <div class="vip-5">已兑 20</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </section>



            <section id="goods" class="sp-block sd-goods">
                <div class="sp-nav">
                    <div class="sp-nav-item active">
                        <a href="#goods">
                            <div class="sp-nav-title">优惠</div>
                            <div class="sp-nav-line"></div>
                        </a>
                    </div>
                    <div class="sp-nav-item">
                        <a href="#team">
                            <div class="sp-nav-title">医师</div>
                            <div class="sp-nav-line"></div>
                        </a>
                    </div>
                    <div class="sp-nav-item">
                        <a href="#comment">
                            <div class="sp-nav-title">评价</div>
                            <div class="sp-nav-line"></div>
                        </a>
                    </div>
                </div>
                <div class="sp-title">精选商品</div>
                <div id="sd-labels-wrapper" class="sd-labels-wrapper">
                    <ul class="sp-label-line">
                        <li class="sp-label2 active">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>
                        <li class="sp-label2">热门推荐</li>


                    </ul>
                </div>

                <ul class="goods horizontal">
                    <li class="good">
                        <a href="">
                            <div class="good-img">
                                <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg" alt="">
                            </div>
                            <div class="good-text">
                                <div class="good-title">[皮肤美容] 颜值套餐 点的点点滴滴</div>
                                <div class="good-md">
                                    <div class="good-labels"><span>美白嫩肤</span></div>
                                    <div class="sell">累计兑换251</div>
                                </div>
                                <div class="good-md" style="display: block;">

                                    <div class="aui-label shop-label-all">全额兑换</div>
                                    &nbsp;
                                    <div class="aui-label aui-label-primary">返佣商品</div>

                                </div>

                                <div class="good-bottom">
                                    <div class="price">79</div>
                                    <div class="price">门市价 ￥200</div>
                                    <div class="aui-label">兑换店内充值卡使用</div>
                                </div>
                            </div>
                        </a>

                    </li>


                </ul>
                <a href="" class="sd-more"><span>更多88个商品</span></a>
            </section>

            <section id="team" class="sp-block">
                <div class="sp-title">
                    <div>医师团队</div>
                    <div>
                        <a href="">
                            <span>全部15个医师</span><i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div id="sd-labels-wrapper2" class="sd-labels-wrapper">
                    <ul class="sd-team sp-label-line">
                        <li class="team-member">
                            <a href="">
                                <div class="member-img">
                                    <img src="http://img3.imgtn.bdimg.com/it/u=3064348706,3821450249&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="member-text">
                                    <div class="member-title">张飒 <span>副主任医师</span></div>
                                    <div class="member-md">
                                        <div class="member-labels"><span>从业16年</span></div>
                                        <div class="sell">预约6</div>
                                    </div>
                                    <div class="member-md">
                                        <span class="member-item">双眼皮.去皱</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="team-member">
                            <a href="">
                                <div class="member-img">
                                    <img src="http://img3.imgtn.bdimg.com/it/u=3064348706,3821450249&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="member-text">
                                    <div class="member-title">张飒 <span>副主任医师</span></div>
                                    <div class="member-md">
                                        <div class="member-labels"><span>从业16年</span></div>
                                        <div class="sell">预约6</div>
                                    </div>
                                    <div class="member-md">
                                        <span class="member-item">双眼皮.去皱</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="team-member">
                            <a href="">
                                <div class="member-img">
                                    <img src="http://img3.imgtn.bdimg.com/it/u=3064348706,3821450249&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="member-text">
                                    <div class="member-title">张飒 <span>副主任医师</span></div>
                                    <div class="member-md">
                                        <div class="member-labels"><span>从业16年</span></div>
                                        <div class="sell">预约6</div>
                                    </div>
                                    <div class="member-md">
                                        <span class="member-item">双眼皮.去皱</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="team-member">
                            <a href="">
                                <div class="member-img">
                                    <img src="http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                                <div class="member-text">
                                    <div class="member-title">张飒 <span>副主任医师</span></div>
                                    <div class="member-md">
                                        <div class="member-labels"><span>从业16年</span></div>
                                        <div class="sell">预约6</div>
                                    </div>
                                    <div class="member-md">
                                        <span class="member-item">双眼皮.去皱</span>
                                    </div>

                                </div>
                            </a>
                        </li>


                    </ul>
                </div>

            </section>

            <section id="comment" class="sp-block">
                <div class="sp-comment">
                    <header>
                        <div class="sp-ch-1">
                            <div>用户评价(579)</div>
                            <div><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="sp-ch-2">
                            <div>
                                5.0
                            </div>
                            <div>
                                <div>综合评分</div>
                                <div>
                                    <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                        <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                        <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                        <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <ul class="comment-list">
                        <li class="comment-item">
                            <div class="cm-left">
                                <div>
                                    <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                            </div>
                            <div class="cm-right">
                                <div>
                                    <span>魔女哇啊啊 </span>
                                    <span>11月14日</span>
                                </div>
                                <div>双眼皮+美白+除皱瘦脸</div>
                                <div> <span>打分&nbsp;</span>
                                    <div>
                                        <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                            <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                            <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                            <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                            <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                            <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                        </div>
                                    </div>
                                </div>
                                <p class="cm-content">
                                    　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                                </p>
                                <div><a class="all sp-hide">全文</a></div>
                                <div class="cm-imgs">
                                    <div class="cm-img-item">
                                        <img data-idx="0"
                                            src="https://p0.meituan.net/deal/b8fd20e377e9b9303773f461386feda888195.jpg@214w_120h_1e_1c"
                                            alt="">
                                    </div>
                                    <div class="cm-img-item">
                                        <img data-idx="1"
                                            src="http://img2.imgtn.bdimg.com/it/u=3123667443,1032705443&fm=26&gp=0.jpg"
                                            alt="">
                                    </div>
                                    <div class="cm-img-item">
                                        <img data-idx="2"
                                            src="http://img2.imgtn.bdimg.com/it/u=2384575438,1021569430&fm=26&gp=0.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-item">
                            <div class="cm-left">
                                <div>
                                    <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2898198609,3111218440&fm=26&gp=0.jpg"
                                        alt="">
                                </div>
                            </div>
                            <div class="cm-right">
                                <div>
                                    <span>魔女哇啊啊 </span>
                                    <span>11月14日</span>
                                </div>
                                <div>双眼皮+美白+除皱瘦脸</div>
                                <div> <span>打分&nbsp;</span>
                                    <div>
                                        <div style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                                            <img src="../static/img/raty/star-on.png" alt="1" title="bad">&nbsp;
                                            <img src="../static/img/raty/star-on.png" alt="2" title="poor">&nbsp;
                                            <img src="../static/img/raty/star-on.png" alt="3" title="regular">&nbsp;
                                            <img src="../static/img/raty/star-on.png" alt="4" title="good">&nbsp;
                                            <img src="../static/img/raty/star-off.png" alt="5" title="gorgeous">
                                        </div>
                                    </div>
                                </div>
                                <p class="cm-content">
                                    　党的十九届四中全会从党和国家事业发展的全局与长远出发，着眼于充分发挥中国特色社会主义制度优越性，对坚持和完善中国特色社会主义制度、推进国家治理体系和治理能力现代化作出了全面部署、提出了明确要求。把思想和行动统一到党的十九届四中全会精神上来，把智慧和力量集中到贯彻落实党中央的决策部署上来，把制度优势更好转化为治理效能，最重要的是落实好全会确定的各项目标任务，做好“坚持和巩固”“完善和发展”“遵守和执行”三件事。
                                </p>
                                <div><a class="all sp-hide">全文</a></div>
                                <div class="cm-imgs">
                                    <div class="cm-img-item">
                                        <img data-idx="0"
                                            src="http://img1.imgtn.bdimg.com/it/u=589495725,2781423202&fm=26&gp=0.jpg"
                                            alt="">
                                    </div>
                                    <div class="cm-img-item">
                                        <img data-idx="1"
                                            src="http://img0.imgtn.bdimg.com/it/u=3181608489,2862622153&fm=26&gp=0.jpg"
                                            alt="">
                                    </div>
                                    <div class="cm-img-item">
                                        <img data-idx="2"
                                            src="http://img1.imgtn.bdimg.com/it/u=2405417869,3124925590&fm=26&gp=0.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="" class="cm-lka">
                        <div>查看全部用户评价</div>
                        <div><span>共579条 </span><i class="fas fa-angle-right"></i></div>
                    </a>
                </div>
            </section>

            <section class="sp-block">
                <div class="sp-title">
                    <div>商户信息</div>
                    <div>
                        <a href="">
                            <span></span><i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="sp-info">
                    <div>
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="sp-item">
                        <div>营业时间</div>
                        <div>周一至周日 08:30-20:00</div>
                    </div>
                </div>
                <div class="sp-info">
                    <div>
                        <i class="fas fa-car"></i>
                    </div>
                    <div class="sp-item">
                        <div>停车位</div>
                        <div>有停车位</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- 付款 -->
    <div class="shop-pay">
        <div class="shop-pay-input">
            <div class="pay-text" style="color: red;">

            </div>
            <!-- 输入金额 -->
            <div style="display: flex;">
                <div style="font-size: 50px;">￥</div>
                <input type="text" name="" id="">
            </div>

        </div>
        <div style="display: flex;margin: 15px;">
            <div class="aui-btn aui-btn-success aui-btn-block aui-btn-lg" id="payBtn">确认支付</div>
            <div class="aui-btn aui-btn-danger aui-btn-block aui-btn-lg" id="cancelPayBtn">取消支付</div>
        </div>
        <ul class="shop-pay-keyboard">

            <li data-num="1">1</li>
            <li data-num="2">2</li>
            <li data-num="3">3</li>
            <li data-num="4">4</li>
            <li data-num="5">5</li>
            <li data-num="6">6</li>
            <li data-num="7">7</li>
            <li data-num="8">8</li>
            <li data-num="9">9</li>
            <li data-num=".">.</li>
            <li data-num="0">0</li>
            <li data-num="x">x</li>
        </ul>
    </div>
    <!-- 相册全屏的轮播 -->
    <div>
        <div class="shop-slide-container">
            <div class="close">X</div>
            <div class="shop-slide-wrap">

            </div>
        </div>
    </div>

    <script src="../static/js/zepto.min.js"></script>
    <script src="../static/js/touch.js"></script>
    <script type="text/javascript" src="../static/js/aui/aui-collapse.js"></script>
    <script type="text/javascript" src="../static/js/aui/aui-toast.js"></script>
    <script src="../static/js/iscroll.js"></script>
    <script type="text/javascript" src="../static/js/iscroll-probe.js"></script>
    <script src="./01.js"></script>
    <script type="text/javascript" src="../static/js/shopPhotoSlide.js?shareshopversion=1.1.1.191114"></script>

    <script>
        $(function () {
            var outterscroll

            initPage()
            function initPage() {
                loadedScroll()
                loadedCollapse()
                bindEvent()
                initKeyBoard()
                initFullPicture()
            }
            function initFullPicture() {
                var ss = new shopSlide([], {
                    custom: ".cm-img-item"
                })
                //获取所有图片
                $(".cm-imgs img").tap(function () {
                    var imgs = $(this).parent().parent().find("img")
                    var imgUrls = [];
                    imgs.each(function (i, e) {
                        var url = e.src;
                        imgUrls.push(url)
                    })
                    ss.changeImg(imgUrls, this.dataset.idx)
                })

            }
            function bindEvent() {
                $(".aui-collapse-header").tap(function () {
                    outterscroll.refresh()
                })
                $(".down").on("tap", function () {
                    var target = $(this).data("target")
                    $(target).removeClass("aui-hide")
                    $(this).find("i").css("display", "none")
                    outterscroll.refresh()
                })
                //    评论
                $(".all").each(function (i, e) {
                    var p = $(this).parent().siblings("p")
                    var h = p.height()
                    var vw = $("body").width() / 100

                    if (h > 29.33 * vw) {

                        $(this).removeClass("sp-hide")
                        $(this).tap(function () {
                            if (p.hasClass("show-all")) {
                                $(this).html("全文")
                                p.removeClass("show-all")
                            } else {
                                $(this).html("收起")
                                p.addClass("show-all")
                            }

                        })
                        outterscroll.refresh()
                    }

                })

                $(".sp-nav .sp-nav-item").tap(function () {
                    $(".sp-nav .sp-nav-item.active").removeClass("active")
                    $(this).addClass("active")
                })

                // 精选商品
                $(".sp-label2").tap(function () {
                    $(".sp-label2.active").removeClass("active")
                    $(this).addClass("active")
                    loadGoods("url")
                })
            }
            function loadGoods(url) {
                // $.get(url,function(data){

                // })
                var r = Math.random().toFixed(2)
                var data = [1 + r, 2 + r, 3 + r]
                var str = ""
                $(data).each(function (i, e) {
                    str += "<li class=\"good\">\n" +
                        "                        <a href=\"\">\n" +
                        "                                <div class=\"good-img\">\n" +
                        "                                        <img src=\"http://img5.imgtn.bdimg.com/it/u=4274086007,831108064&amp;fm=26&amp;gp=0.jpg\" alt=\"\">\n" +
                        "                                    </div>\n" +
                        "                                    <div class=\"good-text\">\n" +
                        "                                        <div class=\"good-title\">" + "[皮肤美容] 颜值套餐 点的点点滴滴" + e + "</div>\n" +
                        "                                        <div class=\"good-md\">\n" +
                        "                                            <div class=\"good-labels\"><span>" + "美白嫩肤" + e + "</span></div>\n" +
                        "                                            <div class=\"sell\">累计兑换" + e + "</div>\n" +
                        "                                        </div>\n" +
                        "            \n" +
                        "                                        <div class=\"good-bottom\">\n" +
                        "                                            <div class=\"sp-money-icon\">\n" +
                        "                                                ￥ " + e + "\n" +
                        "                                            </div>\n" +
                        "                                        </div>\n" +
                        "                                    </div>\n" +
                        "                        </a>\n" +
                        "                       \n" +
                        "                    </li>"
                })
                $(".goods").html(str)
                $(".sd-more a").html("更多" + r + "个商品")
                outterscroll.refresh()
            }
            function loadedScroll() {
                new IScroll('#sd-vipcards-wrapper', { mouseWheel: true, scrollX: true, scrollY: false });
                outterscroll = new IScroll('.scroll-container', { click: true, probeType: 3, mouseWheel: true });
                outterscroll.on("scroll", function () {
                    if (this.y > 0) {
                        $(".bg-img").css("height", `calc(55.4667vw + ${this.y}px)`)
                        $(".bg-img").css("width", `calc(100vw + ${1.8 * this.y}px)`)
                        // console.log(this);
                    }
                })
                outterscroll.on("scrollEnd", function () {
                    $(".bg-img").css("height", "55.4667vw")
                    $(".bg-img").css("width", "100vw")

                })
                $('a[href^="#"]').on('click touchstart', function (e) {
                    //阻止默认点击事件
                    e.preventDefault();
                    var target = this.hash;

                    //利用IScroll的scrollToElement方法进行锚点点击效果
                    outterscroll.scrollToElement(target, 0);
                    return true
                });
                new IScroll('#sd-labels-wrapper', { mouseWheel: true, scrollX: true, scrollY: false });
                bindScroll($("#sd-labels-wrapper")[0])
                new IScroll('#sd-labels-wrapper2', { mouseWheel: true, scrollX: true, scrollY: false });
                bindScroll($("#sd-labels-wrapper2")[0])
                bindScroll($(".scroll-container")[0])
                bindScroll($("#sd-vipcards-wrapper")[0])

            }
            function loadedCollapse() {

                var collapse = new auiCollapse({
                    autoHide: false //是否自动隐藏已经展开的容器
                });
            }

            function initKeyBoard() {
                // 软键盘
                var keyboard = {
                    shopPay: 0,
                    giftGiving: 0,
                    str: "",
                    pay() {
                        var toast = new auiToast();
                        toast.success({
                            title: this.shopPay + "元支付成功",
                            duration: 2000
                        });
                        this.hide()
                    },
                    show(shopPay, giftGiving) {
                        this.giftGiving = giftGiving
                        this.shopPay = shopPay
                        $(".pay-text").html(`满${shopPay}元送${giftGiving}利享币`)
                    },
                    hide() {
                        $(".shop-pay").css({
                            right: "-100vw"
                        })
                        this.clear()
                        outterscroll.refresh()
                    },
                    lessThan() {
                        return parseFloat(this.str) < this.shopPay
                    },
                    clear() {
                        this.str = ""
                        $(".shop-pay-input input").val("")
                    },
                    init() {

                        var obj = this
                        $(".shop-pay-keyboard>li[data-num='x']").longTap(function () {
                            obj.clear()
                        })
                        $(".shop-pay-keyboard>li").on("tap", function (ev) {
                            var num = $(this).data("num")

                            if (num == "x") {
                                if (obj.str != "") {
                                    obj.str = obj.str.substring(0, obj.str.length - 1)
                                }
                            } else {
                                obj.str += num
                            }
                            $(".shop-pay-input input").val(obj.str)
                        })

                        $("#payBtn").on("tap", function () {
                            var reg = /^\d+\.+\d{1,2}$|^\d+$/
                            if (reg.test(obj.str)) {
                                // 支付
                                if (obj.lessThan()) {
                                    var toast = new auiToast();
                                    toast.fail({
                                        title: "当前活动为满" + obj.shopPay + "元送" + obj.giftGiving + "利享币,请选择正确的活动",
                                        duration: 2000
                                    });
                                } else {
                                    obj.pay()
                                }

                            } else {
                                // 格式错误
                                var toast = new auiToast();
                                toast.fail({
                                    title: "请输入正确的金额",
                                    duration: 2000
                                });
                            }
                        })
                        $("#cancelPayBtn").on("tap", function () {
                            obj.hide()
                        })
                    }
                }
                keyboard.init()

                $(".aui-btn-danger[data-shoppingvoucher]").on("tap", function (ev) {
                    ev.stopPropagation()
                    var toast = new auiToast();
                    toast.success({
                        title: "成功领取购物券" + $(this).data("shoppingvoucher") + "元",
                        duration: 2000
                    });
                    $(this).removeClass("aui-btn-danger")
                    $(this).html("已领取")
                    $(this).off()
                })

                $("[data-minprice]").on("tap", function (ev) {
                    keyboard.show($(this).data("minprice"), $(this).data("giftgiving"))

                    // 弹出框
                    $(".shop-pay").css({
                        right: 0
                    })
                    outterscroll.refresh()
                })
            }
        })









    </script>
</body>

</html>