<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/screen.css">
    <link rel="stylesheet" href="../../css/spcommon.css">
    <link rel="stylesheet" href="../../css/goodList.css">
    <link rel="stylesheet" href="../../static/css/font/iconfont.css">
</head>
<body>
    <ul>
        <li class="mflq-good">
            <div class="img-wrapper">
                <img src="http://img4.imgtn.bdimg.com/it/u=3485663872,4142849218&fm=26&gp=0.jpg" alt="">
            </div>
            <div class="content">
                <div class="bt">
                        <span class="dm">阿尔特精致酒店</span> <span class="fbt">高档型</span>
                </div>
              <div class="pj-xf">
                  <span class="pj">4.9 很好</span> <span class="xf">5000+消费</span>
              </div>
              <div class="dz">
                <span class="jl">距我直线2.2km</span>
                |
                <span class="fj">南阳市八中附近</span>
              </div>
              <div class="cs">最高<span class="lxb"> 赠 </span><span class="sp-money-icon">500</span></div>
              <div class="bq-wrapper">
                  <span class="bq">天天特价</span>
                  <span class="bq">八元钟点房劵</span>
              </div>
            </div>

        </li>
        <li class="mflq-good2">
            <div class="top">
                    <div class="img-wrapper">
                            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1384842216,2538973744&fm=26&gp=0.jpg" alt="">
                        </div>
                        <div class="content">
                                <div class="bt">
                                        <span class="dm">阿尔特精致酒店</span> <span class="fbt">高档型</span>
                                </div>
                                <div class="pf-dz">
                                    <div class="zb">
                                            <span class="pf"><i class="iconfont icon-xingxing-copy"></i>5.0</span><span class="ys">月售781</span>
                                    </div>
                                    <div class="yb">
                                        <span class="fj">卧龙路附近</span><span class="jl">1.3km</span>
                                    </div>
                                </div>
                                <div class="fw">
                                    <span class="bq">到店购买 <i class="iconfont icon-duihao1"></i></span>
                                    <span class="bq">支持配送 <i class="iconfont icon-duihao1"></i></span>
                                </div>
                                <div class="bq-wrapper">
                                    <span class="bq">0.09元爆品</span>
                                    <span class="bq">4.83折起</span>
                                </div>
                        </div>
            </div>
           <div class="bottom">
               <ul class="zp-list">
                   <li class="zp">
                       <div class="img-wrapper">
                           <div class="zhaopai">招牌</div>
                           <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1670748602,1275493900&fm=26&gp=0.jpg" alt="">
                       </div>
                       <div class="mz">华夫饼(奶香58464646464)</div>
                       <div class="jg-wrapper">￥<span class="jg">13.9</span>赠<span class="sp-money-icon">200</span></div>
                   </li>
                  
               </ul>
           </div>
           
        </li>
    </ul>
</body>
</html>