<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./shopPhotoSlide.css">
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A praesentium deserunt aperiam natus, ullam inventore ducimus aut labore at est error, odit fugit quasi nostrum dolorum! Illo molestiae similique asperiores?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A praesentium deserunt aperiam natus, ullam inventore ducimus aut labore at est error, odit fugit quasi nostrum dolorum! Illo molestiae similique asperiores?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A praesentium deserunt aperiam natus, ullam inventore ducimus aut labore at est error, odit fugit quasi nostrum dolorum! Illo molestiae similique asperiores?
    </p>
    <button class="shop-open-slide">点击全屏查看图片</button>

<!-- 相册全屏的轮播 -->
<div class="shop-slide-container">
    <div class="close">X</div>
        <div class="shop-slide-wrap">
            <div class="shop-slide-node">
                    <img src="http://img.daimg.com/uploads/allimg/190916/1-1Z9162215040-L.jpg">
            </div>
            <div class="shop-slide-node">
                    <img src="http://img2.imgtn.bdimg.com/it/u=873807156,2879879684&fm=26&gp=0.jpg">
            </div>
            <div class="shop-slide-node">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572856734984&di=50ff37cb0081c0090d6a1a07e89775c4&imgtype=0&src=http%3A%2F%2Fimg.mp.sohu.com%2Fupload%2F20170623%2Faafbe97bd19841a0bd04c63806b24214.png">
            </div>
        </div>
    </div>



<script src="./shopPhotoSlide.js"></script>
</body>
</html>