<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>充返商品</title>
	<link rel="stylesheet" type="text/css" href="../static/css/aui/aui.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/aui/aui.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/aui/aui-slide.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/commonStyle.css?shareshopversion=1.1.1.191111" />
	<link rel="stylesheet" type="text/css" href="../static/css/footer.css?shareshopversion=1.1.1.191111" />
    <link type="text/css" rel="stylesheet" href="../static/css/application.css">
	<!-- <link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/view/static/css/aui/aui.css" />
	<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/view/static/css/aui/aui-slide.css" />
	<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/view/static/css/commonStyle.css?shareshopversion=1.1.1.191111" />
	<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/view/static/css/footer.css?shareshopversion=1.1.1.191111" />
    <link type="text/css" rel="stylesheet" href="${base}/templates/${config.theme}/view/static/css/application.css"> -->
	<style>
		.aui-searchbar {
			background: transparent;
		}


		.aui-list {
			background-color: transparent;
		}

		.aui-list .aui-list-item {
			padding-left: 0;
		}

		.aui-list .aui-list-item:active {
			background-color: transparent;
		}

		.aui-list .aui-list-item-media {
			padding-left: 8px;
			display: flex;
			align-items: center;
		}

		.aui-list,
		.aui-list .aui-list-item {
			background: none;
		}
      
        #conditions{
            padding: .2rem 0;
            position: fixed;
            top: 200px;
            transition: top 0s linear;
            z-index: 10;
        }
        .aui-list-header{
            width: 100%;
            background-color: #fff!important;
        }
        .shop-screen-conditions{
            width: 100%;
         display: flex;
         justify-content: space-evenly;
      
        }
        /* .shop-screen-conditions .shop-item{
            padding:0 5px;
            border-right: 1px solid #666;
        } */
        .shop-screen-conditions .shop-division{
           width: 1px;
           height: 1rem;
           background-color: #666;
        }
        .shop-screen-conditions .active{
            color: red;
        }

        .shop-activity-detail{
        position: fixed;
        z-index: 1000;
        top: 44px;
        left: 0;
        height: 100vh;
        background-color: burlywood;
        overflow-y: scroll;
        padding-bottom: 44px;
        transition: top .5s linear;
        display: none;
    }
    .shop-activity-detail::after{
        content: "";
        display: block;
        height: 44px;
      
    }
    .shop-activity-hide{
        position: fixed;
        top: 60px;
        right: 15px;
        z-index: 1001;
        opacity: .3;
    }
    .big-img{
        width: 100%;
        height: 150px;
    }
    .aui-list.aui-media-list>li:first-child{
        margin-top: 30px;
    }
    .shop-card.full-rebate{
            background-image: linear-gradient(48deg,#05B 20%, #f00 80%);
        }
	</style>

	<script type="text/javascript" src="../static/js/zepto.min.js"></script>
	<script type="text/javascript" src="../static/js/touch.js"></script>
	<script type="text/javascript" src="${base}/templates/${config.theme}/view/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=${mapkey}"></script>

	<script type="text/javascript" src="${base}/templates/${config.theme}/view/static/js/slider.js"></script>
	<script type="text/javascript" src="${base}/templates/${config.theme}/view/static/js/tab.js"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script type="text/javascript" src="${base}/templates/${config.theme}/view/jsp/js_sdk.jsp"></script>
	<script type="text/javascript">

		var mapkey="${mapkey}";
		var ticket="${ticket}";
		var lng="${lng}";
		var lat="${lat}";



		/*  var url = "${base}/ticket/index";
         $.get(url,function(result) {
                  wx.config({
                    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: result.appId, // 必填，公众号的唯一标识
                    timestamp:result.timestamp , // 必填，生成签名的时间戳
                    nonceStr:result.nonceStr, // 必填，生成签名的随机串
                    signature:result.signature,// 必填，签名
                    jsApiList:['getLocation'] // 必填，需要使用的JS接口列表
                  });
              }); */

		wx.error(function(res){
			// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
			console.log(res);

		});


		wx.ready(function(){
			// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			wx.getLocation({
				type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
				success: function (res) {
					var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
					var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
					var speed = res.speed; // 速度，以米/每秒计
					var accuracy = res.accuracy; // 位置精度
			/*		lat=qqMapTransBMap(longitude,latitude).lats;
					lng=qqMapTransBMap(longitude,latitude).lngs;*/
					lat=latitude;
					lng=longitude;
					console.log("经纬度为：");
					console.log(lat);
					console.log(lat);

				}
			});
		});





		function qqMapTransBMap(lng, lat) {
			let x_pi = 3.14159265358979324 * 3000.0 / 180.0;
			let x = lng;
			let y = lat;
			let z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * x_pi);
			let theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * x_pi);
			let lngs = z * Math.cos(theta) + 0.0065;
			let lats = z * Math.sin(theta) + 0.006;
			return {
				lng: lngs,
				lat: lats
			};
		}
		/*  	console.log(qqMapTransBMap(1, 1)); */


		function reducehref(pcateId){
			window.location.href="${base}/shop/index?pcateId="+pcateId;
		}




	</script>


</head>

<body class="">
<div class="aui-content">
	<header class="aui-bar aui-bar-nav">
		<a href="javascript:history.back();" class="aui-pull-left aui-btn">
			<span class="aui-iconfont aui-icon-left"></span>
		</a>
		<div class="aui-title" style="left:2rem; right: 0.5rem;">
			<div class="aui-searchbar" id="search">
				<div class="aui-searchbar-input aui-border-radius">
					<i class="aui-iconfont aui-icon-search"></i>
					<input type="search" placeholder="请输入搜索内容" id="search-input">
					<div class="aui-searchbar-clear-btn">
						<i class="aui-iconfont aui-icon-close"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
	

	<div class="shop-scrollView">
           
		<!-- 活动图 -->
        <div>
                <div class="shop-activity-btn" style="position: absolute;right:0;">
                        <div class="aui-btn aui-btn-info">活动详情<i class="aui-iconfont aui-icon-down" style="margin: 0;"></i></div>
                </div>
                 <!-- 活动内容 -->
                
            <div class="shop-activity-detail">
                    <div class="aui-btn aui-btn-info shop-activity-hide">隐藏<i class="aui-iconfont aui-icon-top" style="margin: 0;"></i></div>
                    <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2157592898,487847299&fm=26&gp=0.jpg" alt="">
                    <!-- <img src="http://pic1.cxtuku.com/00/15/12/b512294528da.jpg" alt="">
                    <img src="http://pic1.cxtuku.com/00/15/12/b512294528da.jpg" alt="">
                    <img src="http://pic1.cxtuku.com/00/15/12/b512294528da.jpg" alt=""> -->
              
            </div>
            <img src="http://img.sccnn.com/bimg/341/15280.jpg" class="big-img" alt="">
        </div>

	<!-- 筛选项 -->
        <li id="conditions" class="aui-list-header">
            <div class="shop-screen-conditions">
                <div class="shop-item active">距离优先</div>
                <div class="shop-division"></div>
                <div class="shop-item">人气优先</div>
                <div class="shop-division"></div>
                <div class="shop-item">好评优先</div>
            </div>
        </li>
		<!-- 商铺列表 -->
		<ul class="aui-list aui-media-list">
		

			<li class="aui-list-item">
                <!-- 全额兑换 -->
				<div class="shop-card full-rebate">
					<div class="aui-media-list-item-inner">
						<a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
							<img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">

						</a>
						<div class="aui-list-item-inner">
							<div class="aui-list-item-text">
								<div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
								<div class="aui-list-item-right"><div class="aui-label">全额兑换</div></div>
							</div>
							<div class="aui-list-item-text">
								<div class="aui-list-item-title">
                                    <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">

                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                        <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                        <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                    </div>
                                </div>
								<div class="aui-list-item-right">400m</div>
							</div>
							<div class="aui-list-item-text">
								火车站 皮肤管理
							</div>
							<div class="aui-list-item-text" style="justify-content: flex-start;">
                                <div class="aui-label">个性脏辫</div>&nbsp;
                                <div class="aui-label">个性脏辫</div>&nbsp;
                                <div class="aui-label">个性脏辫</div>
							</div>
							<div class="aui-list-item-text" style="justify-content: flex-start;">
                                <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
							</div>


						</div>

					</div>
                    <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                        <div style="width: 7.5rem;">
                            <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                        </div>

                        <div class="aui-info-item">

                            <div  class="aui-list-item-text" style="color: #000;">

                                <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>

                            </div>
                        </div>
                        <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                    </div>
				</div>
			</li>

            <li class="aui-list-item">
                    <div class="shop-card">
                        <div class="aui-media-list-item-inner">
                            <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
    
                            </a>
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                    <!-- <div class="aui-list-item-right">08:00</div> -->
                                </div>
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title">
                                        <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
    
                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                            <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                            <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                        </div>
                                    </div>
                                    <div class="aui-list-item-right">400m</div>
                                </div>
                                <div class="aui-list-item-text">
                                    火车站 皮肤管理
                                </div>
                                <div class="aui-list-item-text" style="justify-content: flex-start;">
                                    <div class="aui-label">个性脏辫</div>&nbsp;
                                    <div class="aui-label">个性脏辫</div>&nbsp;
                                    <div class="aui-label">个性脏辫</div>
                                </div>
                                <div class="aui-list-item-text" style="justify-content: flex-start;">
                                    <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                </div>
    
    
                            </div>
    
                        </div>
                        <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                            <div style="width: 7.5rem;">
                                <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                            </div>
    
                            <div class="aui-info-item">
    
                                <div  class="aui-list-item-text" style="color: #000;">
    
                                    <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
    
                                </div>
                            </div>
                            <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                        </div>
                    </div>
                </li>

                <li class="aui-list-item">
                        <div class="shop-card">
                            <div class="aui-media-list-item-inner">
                                <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                    <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
        
                                </a>
                                <div class="aui-list-item-inner">
                                    <div class="aui-list-item-text">
                                        <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                        <!-- <div class="aui-list-item-right">08:00</div> -->
                                    </div>
                                    <div class="aui-list-item-text">
                                        <div class="aui-list-item-title">
                                            <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
        
                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                                <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                                <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                            </div>
                                        </div>
                                        <div class="aui-list-item-right">400m</div>
                                    </div>
                                    <div class="aui-list-item-text">
                                        火车站 皮肤管理
                                    </div>
                                    <div class="aui-list-item-text" style="justify-content: flex-start;">
                                        <div class="aui-label">个性脏辫</div>&nbsp;
                                        <div class="aui-label">个性脏辫</div>&nbsp;
                                        <div class="aui-label">个性脏辫</div>
                                    </div>
                                    <div class="aui-list-item-text" style="justify-content: flex-start;">
                                        <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                    </div>
        
        
                                </div>
        
                            </div>
                            <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                                <div style="width: 7.5rem;">
                                    <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                                </div>
        
                                <div class="aui-info-item">
        
                                    <div  class="aui-list-item-text" style="color: #000;">
        
                                        <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
        
                                    </div>
                                </div>
                                <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                            </div>
                        </div>
                    </li>

                    <li class="aui-list-item">
                            <div class="shop-card">
                                <div class="aui-media-list-item-inner">
                                    <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                        <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
            
                                    </a>
                                    <div class="aui-list-item-inner">
                                        <div class="aui-list-item-text">
                                            <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                            <!-- <div class="aui-list-item-right">08:00</div> -->
                                        </div>
                                        <div class="aui-list-item-text">
                                            <div class="aui-list-item-title">
                                                <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
            
                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                                    <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                                    <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                                </div>
                                            </div>
                                            <div class="aui-list-item-right">400m</div>
                                        </div>
                                        <div class="aui-list-item-text">
                                            火车站 皮肤管理
                                        </div>
                                        <div class="aui-list-item-text" style="justify-content: flex-start;">
                                            <div class="aui-label">个性脏辫</div>&nbsp;
                                            <div class="aui-label">个性脏辫</div>&nbsp;
                                            <div class="aui-label">个性脏辫</div>
                                        </div>
                                        <div class="aui-list-item-text" style="justify-content: flex-start;">
                                            <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                        </div>
            
            
                                    </div>
            
                                </div>
                                <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                                    <div style="width: 7.5rem;">
                                        <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                                    </div>
            
                                    <div class="aui-info-item">
            
                                        <div  class="aui-list-item-text" style="color: #000;">
            
                                            <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
            
                                        </div>
                                    </div>
                                    <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                                </div>
                            </div>
                        </li>

                        <li class="aui-list-item">
                                <div class="shop-card">
                                    <div class="aui-media-list-item-inner">
                                        <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                            <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
                
                                        </a>
                                        <div class="aui-list-item-inner">
                                            <div class="aui-list-item-text">
                                                <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                                <!-- <div class="aui-list-item-right">08:00</div> -->
                                            </div>
                                            <div class="aui-list-item-text">
                                                <div class="aui-list-item-title">
                                                    <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                
                                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                                        <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                                        <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                                        <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                                    </div>
                                                </div>
                                                <div class="aui-list-item-right">400m</div>
                                            </div>
                                            <div class="aui-list-item-text">
                                                火车站 皮肤管理
                                            </div>
                                            <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                <div class="aui-label">个性脏辫</div>&nbsp;
                                                <div class="aui-label">个性脏辫</div>&nbsp;
                                                <div class="aui-label">个性脏辫</div>
                                            </div>
                                            <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                            </div>
                
                
                                        </div>
                
                                    </div>
                                    <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                                        <div style="width: 7.5rem;">
                                            <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                                        </div>
                
                                        <div class="aui-info-item">
                
                                            <div  class="aui-list-item-text" style="color: #000;">
                
                                                <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
                
                                            </div>
                                        </div>
                                        <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                                    </div>
                                </div>
                            </li>

                            <li class="aui-list-item">
                                    <div class="shop-card">
                                        <div class="aui-media-list-item-inner">
                                            <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                                <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
                    
                                            </a>
                                            <div class="aui-list-item-inner">
                                                <div class="aui-list-item-text">
                                                    <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                                    <!-- <div class="aui-list-item-right">08:00</div> -->
                                                </div>
                                                <div class="aui-list-item-text">
                                                    <div class="aui-list-item-title">
                                                        <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                    
                                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                                            <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                                            <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                                            <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                                        </div>
                                                    </div>
                                                    <div class="aui-list-item-right">400m</div>
                                                </div>
                                                <div class="aui-list-item-text">
                                                    火车站 皮肤管理
                                                </div>
                                                <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                    <div class="aui-label">个性脏辫</div>&nbsp;
                                                    <div class="aui-label">个性脏辫</div>&nbsp;
                                                    <div class="aui-label">个性脏辫</div>
                                                </div>
                                                <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                    <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                                </div>
                    
                    
                                            </div>
                    
                                        </div>
                                        <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                                            <div style="width: 7.5rem;">
                                                <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                                            </div>
                    
                                            <div class="aui-info-item">
                    
                                                <div  class="aui-list-item-text" style="color: #000;">
                    
                                                    <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
                    
                                                </div>
                                            </div>
                                            <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                                        </div>
                                    </div>
                                </li>

                                <li class="aui-list-item">
                                        <div class="shop-card">
                                            <div class="aui-media-list-item-inner">
                                                <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                                    <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
                        
                                                </a>
                                                <div class="aui-list-item-inner">
                                                    <div class="aui-list-item-text">
                                                        <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                                        <!-- <div class="aui-list-item-right">08:00</div> -->
                                                    </div>
                                                    <div class="aui-list-item-text">
                                                        <div class="aui-list-item-title">
                                                            <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                        
                                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                                                <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                                                <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                                                <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                                            </div>
                                                        </div>
                                                        <div class="aui-list-item-right">400m</div>
                                                    </div>
                                                    <div class="aui-list-item-text">
                                                        火车站 皮肤管理
                                                    </div>
                                                    <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                        <div class="aui-label">个性脏辫</div>&nbsp;
                                                        <div class="aui-label">个性脏辫</div>&nbsp;
                                                        <div class="aui-label">个性脏辫</div>
                                                    </div>
                                                    <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                        <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                                    </div>
                        
                        
                                                </div>
                        
                                            </div>
                                            <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                                                <div style="width: 7.5rem;">
                                                    <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                                                </div>
                        
                                                <div class="aui-info-item">
                        
                                                    <div  class="aui-list-item-text" style="color: #000;">
                        
                                                        <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
                        
                                                    </div>
                                                </div>
                                                <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="aui-list-item">
                                            <div class="shop-card">
                                                <div class="aui-media-list-item-inner">
                                                    <a href="/shop/detail?sid=8" class="aui-list-item-media" style="flex-direction: column;width: 7.5rem;">
                                                        <img src="http://manage.yihuoshidai.com//files/b813ca46-4bd6-4e4b-8bdb-37172a5b51dd.jpg">
                            
                                                    </a>
                                                    <div class="aui-list-item-inner">
                                                        <div class="aui-list-item-text">
                                                            <div class="aui-list-item-title" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 150px;font-weight: bold;font-size: 1rem;">龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸龙升商贸</div>
                                                            <!-- <div class="aui-list-item-right">08:00</div> -->
                                                        </div>
                                                        <div class="aui-list-item-text">
                                                            <div class="aui-list-item-title">
                                                                <div  style="cursor: pointer;width: 100px;display: flex;align-items: center;">
                            
                                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="1" title="bad" style="width: .8rem;height: .8rem;">&nbsp;
                                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="2" title="poor" style="width: .8rem;height: .8rem;">&nbsp;
                                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="3" title="regular" style="width: .8rem;height: .8rem;">&nbsp;
                                                                    <img src="/templates/default/view/static/img/raty/star-on.png" alt="4" title="good" style="width: .8rem;height: .8rem;">&nbsp;
                                                                    <img src="/templates/default/view/static/img/raty/star-off.png" alt="5" title="gorgeous" style="width: .8rem;height: .8rem;">
                                                                    <div style="white-space: nowrap;color: #e27f16;">4分</div>
                                                                </div>
                                                            </div>
                                                            <div class="aui-list-item-right">400m</div>
                                                        </div>
                                                        <div class="aui-list-item-text">
                                                            火车站 皮肤管理
                                                        </div>
                                                        <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                            <div class="aui-label">个性脏辫</div>&nbsp;
                                                            <div class="aui-label">个性脏辫</div>&nbsp;
                                                            <div class="aui-label">个性脏辫</div>
                                                        </div>
                                                        <div class="aui-list-item-text" style="justify-content: flex-start;">
                                                            <i class="aui-iconfont aui-icon-comment"></i>&nbsp; 感觉物超所值 以后会经常光顾的
                                                        </div>
                            
                            
                                                    </div>
                            
                                                </div>
                                                <div class="aui-info" style="padding-top:0;justify-content: flex-start;margin: 0;">
                                                    <div style="width: 7.5rem;">
                                                        <div class="aui-label aui-label-info" style="margin: 0 auto;">新客减10元</div>
                                                    </div>
                            
                                                    <div class="aui-info-item">
                            
                                                        <div  class="aui-list-item-text" style="color: #000;">
                            
                                                            <div class="aui-list-item-title" style="font-size: .7rem;"> <div style="background-color: yellow;padding: 2px;width: 16px;height: 16px;font-size: 12px;display: inline-block;line-height: 16px;">团</div> 28元 [剪发] [推荐] 精致洗剪吹</div>
                            
                                                        </div>
                                                    </div>
                                                    <div class="aui-list-item-right" style="position: absolute;right: 12px;bottom:0;padding-bottom: 8px;">已售491</div>
                                                </div>
                                            </div>
                                        </li>
		</ul>

	</div>
	<!-- 底部导航栏 -->
	<footer class="aui-footer aui-footer-fixed">
		<a href="${base}/wechat/index" class="aui-tabBar-item aui-tabBar-item-active">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-loan"></i>
                </span>
			<span class="aui-tabBar-item-text">首页</span>
		</a>
		<a href="${base}/shop/index" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-credit"></i>
                </span>
			<span class="aui-tabBar-item-text">店铺</span>
		</a>



		<a href="${base}/cartshow/list" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-car"></i><i class="shop-badge">22</i>
                </span>
			<span class="aui-tabBar-item-text">购物车</span>
		</a>
		<a href="${base}/center/user" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-mine"></i>
                </span>
			<span class="aui-tabBar-item-text">我的</span>
		</a>
	</footer>
</div>

<script type="text/javascript" src="../new/script/aui-popup.js" ></script>
<script type="text/javascript">
    var popup = new auiPopup();
</script>
<script>
// 筛选条件
$(function(){
    var pos=$("#conditions").offset()
    $(".shop-scrollView").on("touchmove",function(ev){
        var c=$("#conditions")
        var $t=$(this)

            if($t.scrollTop()<=150){
  
  c.css("top",pos.top-$t.scrollTop()+"px")
}else{
    c.css("top",44+"px")
}
 
       
        
    
    })
    showActivity()
       function showActivity(){
        var showBtns=document.querySelectorAll(".shop-activity-btn");
        var hideBtns=document.querySelectorAll(".shop-activity-hide")
        for(var showBtn of showBtns){
            showBtn.addEventListener("touchend",function(e){
                showBtn.nextElementSibling.style.display="block"
            })
        }
        for(var hideBtn of hideBtns){
            hideBtn.addEventListener("touchend",function(e){
                hideBtn.parentNode.style.display="none"
            })
        }


       }
})
</script>
</body>

</html>