@import "fn";
$header-color:#fff;
$color1: #777;
$color2: rgb(107, 42, 12);
$color3: rgb(230, 204, 168);
$color4: #ddd;
$color5: #ccc;
$color6: rgb(226, 120, 45);
$color7:rgb(33, 33, 33);
$color8:#ddd;
$color9:#e6e6e6;
$pricecolor1:rgb(181, 90, 25);
$innerMargin:my-px2vw(5);
$innerPadding:my-px2vw(5);
$outterMargin:my-px2vw(10);
$outterPadding:my-px2vw(10);
$labelSize:my-px2vw(12);
$fontsize16:my-px2vw(16);
$fontsize14:my-px2vw(14);
$fontsize12:my-px2vw(12);
$fontsize20:my-px2vw(20);
$fontsize30:my-px2vw(30);
@mixin sp_scroll {
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: vw(110);
    -webkit-overflow-scrolling : touch;
}
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
    }

    html, body {
    min-height: 100%;
    }
    
    body {
    font-family: "Microsoft YaHei";
    color:#333;
    }
    h1, h2, h3, h4, h5, h6{font-weight:normal;}
    ul,ol {
    list-style: none;
    }
    
    img {
    border: none;
    vertical-align: middle;
    }
    
    a {
    text-decoration: none;
    color: #232323;
    }
    
    table {
    border-collapse: collapse;
    table-layout: fixed;
    }
    
    input, textarea {
    outline: none;
    border: none;
    }
    
    textarea {
    resize: none;
    overflow: auto;
    }
    
    .clearfix {
    zoom: 1;
    }
    
    .clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
    }
    
    .fl {
    float: left
    }
    
    .fr {
    float: right
    }
    
    .tl {
    text-align: left;
    }
    
    .tc {
    text-align: center
    }
    
    .tr {
    text-align: right;
    }
    
    .ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    }