@import "spvarious";
@import "chashi_good";
$header-color:#fff;
$color1: #777;
$color2: rgb(107, 42, 12);
$color3: rgb(230, 204, 168);
$color4: #ddd;
$color5: #ccc;
$color6: rgb(226, 120, 45);
$color7:rgb(33, 33, 33);
$color8:#ddd;
$color9:#e6e6e6;
$color10:#bbb;
$pricecolor1:rgb(181, 90, 25);
$innerMargin:my-px2vw(5);
$innerPadding:my-px2vw(5);
$outterMargin:my-px2vw(10);
$outterPadding:my-px2vw(10);
$labelSize:my-px2vw(12);
$fontsize16:my-px2vw(16);
$fontsize14:my-px2vw(14);
$fontsize12:my-px2vw(12);
$fontsize20:my-px2vw(20);
$fontsize30:my-px2vw(30);
.sp-mask{
    z-index: 1002!important;
}
.chaoshixiangqing{
    padding-bottom: vw(80);
}
.tdtj{
    background-color: #fff;
    padding: vw(10);
    margin-bottom: vw(10);
    .title{
        font-size: vw(16);
        font-weight: 500;
        padding: vw(10) 0;
    }
}
.spxq{
    background-color: #fff;
    padding: vw(10);
    margin-bottom: vw(10);
    .title{
        font-size: vw(16);
        font-weight: 500;
        padding: vw(10) 0;
    }
    .list{
        font-size: vw(13);
        .item{
            display: flex;
            margin-bottom: vw(8);
            .name{
                color: $color1;
                margin-right: vw(10);
            }
        }
    }

    
}
.csxq-pj{
    padding: vw(10);
    background-color: #fff;
    margin-bottom: vw(10);
    .title{
        font-size: vw(16);
        font-weight: 500;
        padding: vw(10) 0;
        span{
            font-size: vw(14);
            color: #eb8242;
            vertical-align: text-bottom;
        }
    }
    .pj-list{
        .pj-item{
            margin-bottom: vw(10);
            .plnr{
                font-size: vw(12);
                line-height: 1.5;
                padding-left: vw(10);
                .pj{
                    margin-bottom: vw(5);
                }
                .tp{
                    display: flex;
                    flex-wrap: wrap;
                    img{
                        width: vw(50);
                        height: vw(50);
                        margin-right: vw(5);
                        margin-bottom: vw(5);
                    }
                }
            }
            .tx{
                display: grid;
                grid-template-columns: vw(50) 1fr;
                justify-content: center;
                overflow: hidden;
                img{
                    max-width: vw(50);
                    height:vw(50);
                    border-radius: vw(5);
                }
                .nc-sj{
                    margin-bottom: vw(10);
                    margin-left: vw(10);
                    display: flex;
                    justify-content: space-between;
                    .nc{
                        font-size: vw(13);
                    }
                    .sj{
                        color: #999;
                        font-size: vw(12);
                    }
                }
            }
        }
    }
}
.csxq-top{
    padding: vw(10);
    background-color: #fff;
    margin-bottom: vw(10);
}
.csxq-hd{
    font-size: vw(13);
    
    display: grid;
    padding: vw(10) 0;
    grid-template-columns: vw(50) 1fr;
    align-items: flex-start;
    .fw{
        i{
            color: #51eaea;
            font-size: vw(13);
        }
        display: flex;
        >div{
            margin-right: vw(5);
        }
    }
    .mz{
        color: $color1;
    }
    .nr{
        >div{
            margin-bottom: vw(5);
        }
    }
}
.cxxq-jg-jr{
    padding: vw(10) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .jr{
        font-size: vw(14);
        padding: vw(10);
        color: #fff;
        border-radius: vw(15);
        background-color: #ff971d;
    }
    .yb {
        display: flex;
        align-items: center;

        .reduce {
            i {
                font-size: vw(20);
            }

            color: $color1;
        }

        .num {
            margin: 0 vw(8);
        }

        .add {
            i {
                font-size: vw(20);
            }

            color: #64e291;
        }
    }
}
.cxxq-p-u-o {
    display: flex;
    align-items: baseline;
    
.price {
    font-size: vw(12);
    color: #da2d2d;
    span {
       
        font-weight: bold;
        font-size: vw(20);
    }
}
}

.csxq-img{
    width: 100%;
    img{
        width: 100%;
    }
}
.csxq-goods{
    .item-wrapper {
        width: 50%;
        transform: scale(.9);
        box-sizing: border-box;
        @include chaoshi_item();
       

    }
}
.cxxq-title{
    padding: vw(10) 0;
    font-size: vw(20);
    font-weight: 600;
}
.cxxq-sold{
    padding: vw(10) 0;
    font-size: vw(12);
    color: $color1;
}