@import "spvarious";
$header-color:#fff;
$color1: #777;
$color2: rgb(107, 42, 12);
$color3: rgb(230, 204, 168);
$color4: #ddd;
$color5: #ccc;
$color6: rgb(226, 120, 45);
$color7:rgb(33, 33, 33);
$color8:#ddd;
$color9:#e6e6e6;
$color10:#bbb;
$pricecolor1:rgb(181, 90, 25);
$innerMargin:my-px2vw(5);
$innerPadding:my-px2vw(5);
$outterMargin:my-px2vw(10);
$outterPadding:my-px2vw(10);
$labelSize:my-px2vw(12);
$fontsize16:my-px2vw(16);
$fontsize14:my-px2vw(14);
$fontsize12:my-px2vw(12);
$fontsize20:my-px2vw(20);
$fontsize30:my-px2vw(30);
body{
    margin: 0;
}
 ul ,li{
    list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
  }
.slider-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    .slider-bg{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        filter: blur(50px);
        z-index: -1;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    clip-path:polygon(0% 0, 100% 0%, 100% 100%, 52% 100%, 50% 93%, 48% 100%, 0 100%);
    .slider{
        height: 36vw;
     white-space: nowrap;
       font-size: 0;
       overflow-y: hidden;
       overflow-x: scroll;
       padding: vw(5) 0;
       transition: background-color 1s linear;
       transform: scaleX(1.2);
    //    background-color: #2d132c;
       &.vipcard{
        height: 24.72vw;
        &::before,&::after{
            content: "";
            display: inline-block;
            width: 30vw;
            height: 24.72vw;
        }
        .item{
            width: 30vw;
            height:18.54vw;
            line-height: 18.54vw;
            display: inline-block;
            text-align: center;
            transition: all .2s linear;
            vertical-align: text-bottom;
            img{
                border-radius: vw(5);
            }
            &.active{
                width: 40vw;
                height: 24.72vw;
                line-height: 24.72vw;
            }
        }
       }
      &::before,&::after{
          content: "";
          display: inline-block;
          width: 39vw;
          height: 35.6vw;
      }
        .item{
            width: 19.5vw;
            height:31.55vw;
            line-height: 31.55vw;
            display: inline-block;
            text-align: center;
            transition: all .2s linear;
            vertical-align: text-bottom;
         
            &.active{
                width: 22vw;
                height: 35.6vw;
                line-height: 35.6vw;
                img{
                    width: 80%;
                    border: 1px solid #fff;
                }
            }
            img{
                margin: 0 auto;
                width: 80%;
                height: 80%;
            }
        }
    }
}
