@import "spvarious";
$header-color:#fff;
$color1: #777;
$color2: rgb(107, 42, 12);
$color3: rgb(230, 204, 168);
$color4: #ddd;
$color5: #ccc;
$color6: rgb(226, 120, 45);
$color7:rgb(33, 33, 33);
$color8:#ddd;
$color9:#e6e6e6;
$color10:#bbb;
$pricecolor1:rgb(181, 90, 25);
$innerMargin:my-px2vw(5);
$innerPadding:my-px2vw(5);
$outterMargin:my-px2vw(10);
$outterPadding:my-px2vw(10);
$labelSize:my-px2vw(12);
$fontsize16:my-px2vw(16);
$fontsize14:my-px2vw(14);
$fontsize12:my-px2vw(12);
$fontsize20:my-px2vw(20);
$fontsize30:my-px2vw(30);
body{
    overflow: hidden;
}
.sp-money-icon{
    font-size: vw(15);
}
.so-scroll{
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: vw(50);
}
.gw-img{
    border-radius: vw(10)!important;
}
.cf-item{
    display: flex;
    padding: vw(10) 0;
    align-items: center;
    margin-bottom: vw(10);
    border-bottom: 1px solid #ddd;
    >img{
        width: vw(75);
        height: vw(75);
        padding:0 vw(10);
        border-radius: 50%;
    }
    .text-content{
        width: vw(280);
        box-sizing: border-box;
        padding-right: vw(10);
      
        line-height: 1.5;
        >div{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            font-size: vw(15);
            span:last-child{
                max-width: vw(180);
            }
            .name{
                color: $color1;
            }
            .price{
                font-weight: bold;
                color: $pricecolor1;
            }
            .time{
                font-size: $fontsize12;
                color: $color10;
            }
        }
    }
}
.titles .item {
    height: vw(50);
    line-height: vw(50);
}